[2021-05-25 15:18] wfma opened #3 "interfacing with seurat"
Hello! I just saw your preprint on this and was very excited to try. Can you shed some light on whether we can run this pipeline within R/Rstudio on our seurat objs? We currently have a few datasets that would benefit from comparing several tools, but we are unsure how to interface it through the command line terminal.

Thanks,
Wei

[2021-05-26 10:55] dbdimitrov commented on #3
Hi,

Thanks a lot for the interest.

You should be able to run the methods via R/Rstudio, given you have enough RAM. All of the methods, except NATMI, work with sparse matrices and I was able to run them with ~20,000 cell Seurat objects on my local PC with 16GB RAM.

I think for now it would be best if you follow [this example](https://github.com/saezlab/ligrec_decoupler/blob/master/analysis_scrip

[2021-05-29 15:19] wfma commented on #3
Dear Daniel,

Thank you for the reply! Sounds great. I will try this example. Yes unfortunately my python skill needs some catching up to do. I look forward to the wrapper functions, I think it will be a really strong point to add to your paper!

Wei
----------------------------------------------------
Wei Feng Ma
University of Virginia
School of Medicine
Medical Scientist Training Program
Miller

[2021-06-16 06:30] dbdimitrov commented on #3
Hi Wei,

As discussed previously, I have implemented a wrapper function for the package (liana) and have also provided a short [tutorial](https://saezlab.github.io/liana/articles/liana_tutorial.html).

I've made quite a few changes to the stability of the package, made the installation more straightforward, and you can also obtain a rank consensus from the different methods. You can also directly

[2021-06-16 14:52] wfma commented on #3
this is really amazing! I cant wait to try this! I will close this request now and follow up once I try it :)

[2021-06-16 14:52] #3 closed

[2021-07-01 18:21] ajwilk opened #5 "Seurat version dependency for installation"
Hi there, noticed that liana requires Seurat version <=3.2.3. Is there a way to remove this dependency (seems to be coming from liana, not one of the other CCC pipelines)? I have v4 installed and am guessing that others will run into this issue. Thanks much!!

[code]

[2021-07-02 08:13] dbdimitrov commented on #5
Hi thanks for opening an issue.

I had set the Seurat version to 3.2.3 intentionally, as some of the packages were previously not updated to work with Seurat v4.

I have now appropriately bumped up the code and you should be able to run liana with the latest Seurat version as well as v3.2.3.

Best,
Daniel

[2021-07-05 17:58] wfma opened #6 ".yml file not found"
Hi Yall,

The .yml file to set up my conda env is not linked properly on the main page (https://saezlab.github.io/liana/index.html). Can you update?

Thanks,
Wei

[2021-07-05 19:17] dbdimitrov commented on #6
Hi Wei,

I have now appropriately updated. Thanks for noticing.

Best,
Daniel

[2021-07-05 20:19] #6 closed

[2021-07-05 22:56] wfma opened #7 "error importing conda environment"
Hi again,

When I import your .yaml for my conda environment, I get the following error message:

[code]
From [other posts](https://github.com/datitran/object_detector_app/issues/41) it seems that its because the original .yaml was exported from a different platform. I am tryin to run it on a mac pro on Big Sur. What do you suggest the best next step is?

Thanks a bunch,
Wei

[2021-07-06 07:46] dbdimitrov commented on #7
Dear Wei,

Thank you for opening all these issues and for your patience.

I have now removed the linux-specific dependencies, ran checks on a MAC of a colleague of mine, so it should now work appropriately.

I plan to soon re-implement some of the methods completely in R, so these dependency complications should be resolved.

Thanks,
Daniel

[2021-07-06 12:44] wfma commented on #7
Hi Daniel, thanks for setting this up so quickly!

I will attempt to do it again now. It would be SUPER helpful if the dependency on NATMI (and other python-based tools) can be optional when loading in the mean time. It would be phenomenal if you reimplement the python ones into R that way I (and others) can build it into our workflow easier.

Ill report back with any issues!

[2021-07-07 13:22] wfma commented on #7
Hmm, it looks like libgcc-ng=9.3.0 is not available.

[code]

I tried to get libgcc-ng straight from anaconda
[code]

Looks like this is also a linux package?
Wei

[2021-07-07 14:30] dbdimitrov commented on #7
Hi Wei,

Yes, it appears to be the case - I have now properly excluded it from the conda environment.
Also, technically you can omit the python-based methods, but I'm not certain if this leaves you with much options if you exclude 2 out of the 6 methods.

As you note, I do plan to re-implement NATMI specifically, while Squidpy I will keep due to it's more complex algorithm and very efficient imple

[2021-07-07 15:40] wfma commented on #7
Awesome! You da best. Ill try it again now and report back if I have an issues. BTW if you need a tester for future implementations let me know! :)

[2021-07-07 15:40] #7 closed

[2021-07-07 18:20] wfma opened #8 "TypeError: unhashable type"
I am definitely your trouble maker.

I have successfully imported the conda environment and tried to wrap my seurat obj using the liana_wrap() function. But its stuck on an error and there isnt enough info for me to figure out whats up.

The obj is just called 'stanford'

[code]
If you need the obj can be downloaded [here](https://drive.google.com/open?id=1cFIFOHpYKENx3sWfmRlneVXoEp3kMIIr).

[2021-07-08 14:12] dbdimitrov commented on #8
Hi Wei,

I tried running liana on your object and noticed a couple of things that might be breaking it.

The active Ident of Seurat does not seem to match any of the columns in the metadata table (and the way that I pass the appropriate Ident to Squidpy is by matching them). I assume it might be related to the `Mø` symbol. To circumvent that you can specify the cluster keys that you wish to use th

[2021-07-08 14:46] paulyashna opened #9 "Multiple seurat objects"
Hi, I would like to input count matrices from multiple Seurat objects. I suppose that is not possible at the moment with Liana. I can beforehand merge the Seurat objects and then input them as a single Seurat object, so should I be merging only the raw counts or the normalized counts assay from Seurat. It will be helpful if you could comment if Liana is using raw counts or the normalized/scaled co

[2021-07-08 15:03] dbdimitrov commented on #9
Hi,

You are correct, currently it's not possible, so you would need to merge them into a single Seurat object.
Each method obtains the log-normalized counts from the 'data' slot of Seurat.

I hope this helps.
Regards,
Daniel

[2021-07-08 15:37] #5 closed

[2021-07-08 16:24] ajwilk commented on #5
Apologies I had missed your reply! Yes, all is working now for me thanks!

[2021-07-08 17:10] wfma commented on #8
Thanks for the quick turnaround. I will run the new specified line above after I update liana. I would share the output list but when I ran it earlier it just get stuck at "Error: TypeError: unhashable type: 'list'" and R is unresponsive. I am running it in Rstudio and I cant even terminate R. I basically had to force quit Rstudio to get it to stop.

Let me run this and get back to you!
Wei

[2021-07-08 20:41] paulyashna commented on #9
Thanks for the quick reply. This is helpful.

[2021-07-08 20:41] #9 closed

[2021-07-11 19:01] paulyashna opened #10 "Run time and memory requirements"
Hi,

Is it possible for you to comment on the run times of the tool at different number of cells? e.g. 5k? 10K etc. I have been trying with >10k cells and I think it would be a good option to downsample the seurat object. Has the consistency of results been checked at different downsampling thresholds?

Also, I would like to know run times and requirement of processing cores, if any when more than

[2021-07-11 21:11] deeenes commented on #10
@dbdimitrov  For this I can recommend `logger`: https://daroczig.github.io/logger/
We use it in OmnipathR: https://github.com/saezlab/OmnipathR/blob/e50affdeeab2f8b85b54b6d841d6a7a694eda7ab/R/options.R#L377

[2021-07-12 07:17] dbdimitrov commented on #10
Hi Yashna,

I think I might have an idea what's behind this issue that you're observing.
I noticed that Connectome (when called via LIANA, but not via it's individual _pipe function) will hang until eternity for some data sets. Honestly, I could not find a reason why this happens, only pinpointed it to the `scaleData` function of Seurat when executed via `exec` or `do.call`. There seems to be [ver

[2021-07-12 11:25] paulyashna commented on #10
Thanks Daniel, for your comments and quick reply. This is certainly helpful.
Best Regards,
Yashna

[2021-07-12 11:25] #10 closed

[2021-07-14 21:08] dstueckm commented on #8
Are there any updates on the connectome issue? I tried to run liana_wrap() using 'connectome' as the only method, and I too experience infinite runtimes without any errors being thrown.
I am simply loading a Seurat object, running FindVariableFeatures() and ScaleData() before running liana_wrap(). Is scaling the data not recommended for some reason?

Also re: 'squidpy', I tried running the same sc

[2021-07-15 07:37] dbdimitrov commented on #8
Hi dstueckm,

Thanks for the comment.
I have now appropriately resolved the issue with Connectome.
Long story short: `exec` (or do.call) does scale well with large datasets, replacing it with `invoke` solved the issue.

Regarding, Squidpy I have not encountered that exception, perhaps opening a separate issue which I can reproduce would allow me to help you further :)

Daniel

[2021-07-15 20:13] dbdimitrov commented on #10
Hi paulyashna,

Just wanted to mention that the issue with Connectome should now be resolved.

Regards,
Daniel

[2021-07-16 10:30] supermegamio opened #11 "Results visualization"
Hello!

I just read the preprint and perform some preliminary cell-cell communication analysis with my data. I was wondering if exist any package or wrapper functions to perform a visualisation of the results. Or what do you actually use to plotting and integrate results?

Thank you in advance

[2021-07-16 13:31] paulyashna commented on #10
Hi Daniel, Thanks for this, I shall check this out. Will you have an idea why I keep getting an error 'cell label should not contain 0' error with any of the methods I try. I understand the metadata information is directly taken from the seurat object. I have added cluster annotations under the column seurat_annotations in the metadata, and still get this error. I appreciate any help on this.

[2021-07-16 13:56] dstueckm commented on #8
Hi Daniel,

Thanks for the quick reply! I installed the latest version of liana and that resolved the Connectome issue.
re: squidpy, I read your earlier comment on this post and tried converting my cell type metadata slot to a factor prior to setting the Idents() of my Seurat object, which seems to have resolved that issue.

[2021-07-16 14:18] dbdimitrov commented on #11
Hi supermegamio,

At its current state, liana does not provide any visualization options.

Yet , we are planning to bridge liana with [CrossTalkeR](https://github.com/CostaLab/CrossTalkeR) and possibly extend a bit the visualization options when working with a single condition.

I hope that helps.

[2021-07-18 21:05] paulyashna opened #12 "'cell label should not contain 0'? meaning"
Hi Daniel,  Will you have an idea why I keep getting an error 'cell label should not contain 0' error with any of the methods I try with the liana wrapper function. I understand the metadata information is directly taken from the seurat object. I have added cluster annotations under the column seurat_annotations in the metadata, and still get this error. I appreciate any help on this.

[2021-07-19 07:36] dbdimitrov commented on #12
Hi Yashna,

I haven't encountered that error.

Throwing a shot in the dark here, but I tried passing integers (including 0) as the name of cluster (assuming this was the issue) and I did not get an error since LIANA will convert ints to factor.

You should get something like:
`Squidpy: seurat_annotations was converted to factor` if this is the case.

One thing could work would be to just re-instal

[2021-07-19 18:26] paulyashna commented on #12
Hi Daniel,

The Idents(seurat_object) in my case was numeric and cellchat from LIANA does not accept a '0' as identity of a cluster. I was able to correct this and run cellchat with LIANA. Also, 'connectome' works now and does not fall into an infinite loop as before. Thanks for your quick responses.

Best Regards,
Yashna

[2021-07-19 20:17] dbdimitrov commented on #12
Hi Yashna,

Oh okay, my bad, I automatically thought of Squidpy, as there was a similar issue there.
I will have a look at CellChat too and will provide an update!

Thanks,
Daniel

[2021-07-20 07:20] supermegamio commented on #11
Hi!

Thank you for you quick response :)

I will explore the possibilities with CrossTalkeR

[2021-07-20 14:45] dbdimitrov commented on #12
Hi Yashna,

Actually I checked running CellChat with clusters starting from 0 (defined as doubles), but for me it worked.

Don't hesitate to post any further issues.

Regards,
Daniel

[2021-07-22 08:39] ccruizm opened #13 "Error running Squidpy"
Good day,

Thanks for developing this tool. I am trying to use squidpy but got the error below, either calling the function independently `call_squidpy` or within `liana_wrap`:

[code]

Other tools work as expected (have tested connectome and cellchat). Any idea where the problem might be?

Thanks in advance!

My session info:
[code]

[2021-07-22 09:11] dbdimitrov commented on #13
Hi ccruizm,

Thanks for using the tool!

I assume this issue might be related to your cluster annotations - Squidpy seems a bit picky about this.
Perhaps, if you share them I can check on my side.

[2021-07-22 09:18] ccruizm commented on #13
Thanks for the quick reply!

These are the cluster names I am using:

[code]

I have run `sq.pl.ligrec` using the same cell annotation and didn't encounter any issue. But this was loading the data directly in Scanpy running a python kernel. Maybe there is an issue using reticulate? Let me know if you need anything else I can provide to troubleshoot this part.

Thanks!

[2021-07-22 11:19] dbdimitrov commented on #13
Hi,

I think it's related to the way that call_squidpy obtains the annotations (I got the same error when I did not appropriately set the Idents in Seurat).

Please try setting the idents in Seurat to an existing column in the metadata (e.g. Idents(seurat_object) <- metadata[[column]]), or alternatively pass the appropriate name to the cluster column to squidpy /w cluster_key = "column".

I hope i

[2021-07-25 13:00] anikaliu opened #14 "Installation error related to 'dbplyr'"
Hello:)
I'm having trouble installing liana and was wondering if you'd be able to help with that?
It seems to be related to dbplyr which I have re-installed now and works fine, so I'm not sure what is going wrong...
When I try to install it, this is the error I receive:
[code]

My session info is:
[code]
As side note, someone has previously had a similar error over here: https://github.com/tidyver

[2021-07-26 06:33] dbdimitrov commented on #14
Hi Anika,

Thanks for using liana :)

Honestly, I have not seen this error and I'm not sure if I can reproduce it and hence fix it. I was also unable to find any further information than the one that you shared about it.

Perhaps, installing it in `renv` (i.e. a clean environment) might resolve the issue.
If you prefer I could share a `renv` snapshot of my own that I know is working.

Best wishes,

[2021-07-26 11:12] deeenes commented on #14
Hi Anika,

Are all your installed packages up to date and built under the current R version? You can check by `old.packages()` and use `update.packages()` to update all.

[2021-07-26 19:22] ccruizm commented on #13
Hello!

Thanks for the suggestion. I have tried both but get the next error:
[code]

The commands I am using are:
[code]
 or

[code]

Hopefully, we can figure out where the problem is. Thanks!

[2021-07-26 20:08] ccruizm opened #15 "Filter OmnipathDB for ligand/receptors"
Good day!

I would like to filter ligands and receptors that are only present in the surface/cell membrane and not take into account soluble factors, among others.

Is there a way to filter those when using the OmnipathDB?

Thanks for your help!

[2021-07-26 20:55] deeenes commented on #15
Hi Cristian,

You can do something like this:

[code]

See details here: https://saezlab.github.io/OmnipathR/reference/import_omnipath_intercell.html, https://saezlab.github.io/OmnipathR/reference/intercell_consensus_filter.html. And also: https://saezlab.github.io/OmnipathR/reference/import_intercell_network.html, https://saezlab.github.io/OmnipathR/reference/filter_intercell_network.html, althou

[2021-07-27 06:09] dbdimitrov commented on #13
Hi Christian,

I think in this case, it's an inconsistency that I fixed recently. Squidpy used to take a list as `op_resource`, so you should run it as:

  `call_squidpy(seu_obj,
                  op_resource = select_resource('OmniPath'),
                  .seed = 1004)`

I have changed this in one of the latest commits to the master branch, but this should also work.

Regards,
Daniel

[2021-07-27 07:45] ccruizm commented on #13
It works now! thanks for your help!!!

[2021-07-27 07:45] #13 closed

[2021-07-27 08:30] dbdimitrov opened #16 "Clean code + proper unit tests"

[2021-07-27 08:31] #16 closed

[2021-07-27 08:31] ccruizm commented on #15
Thank you very much for the quick reply! I plan to use spatial transcriptomics to confirm potential interactions assessed by the in silico inferred interactions on the single-cell transcriptomics data. For that reason, I would like to use only proteins on the cell surface and can be linked to direct cell-cell communication (before jumping into paracrine/autocrine interactions).

What would you rec

[2021-07-27 11:00] anikaliu commented on #14
Hi Denes,
good call.. I see that "Matrix" which was pointed out as troublemaker in the link I added is outdated. However, it's a system library that I don't have rights to update on our server. Will try to find a workaround and let you know:)

[2021-07-27 13:33] #12 closed

[2021-07-27 13:40] paulyashna opened #17 "Library issue with natmi and squidpy"
Hi,

I have installed natmi and squidpy via conda using the suggested liana_env.yml file as described. Conda env was setup successfully and there were no errors.

However, I keep getting the following errors. Do you have an idea what is causing this. Any hints in this direction would be helpful:

with squidpy:
Error: attempt to select less than one element in get1index

with natmi:
Error: ImportEr

[2021-07-27 14:37] dbdimitrov commented on #17
Hi Yashna,

Regarding Squidpy, it seems that the idents in the Seurat object are not appropriately set and the Squidpy pipeline cannot allocate the correct cluster metadata - this is an easy fix. Please see the following comment:
https://github.com/saezlab/liana/issues/13#issuecomment-884836511

Regarding NATMI, I have not encountered this error previously, but I found this [issue](https://askubun

[2021-07-27 15:23] paulyashna commented on #17
Hi Daniel,

Thanks for replying quickly.
When I fix the Seurat object idents for squidpy, i get the same error as in natmi.

From the side of systems admin: libstdc++.so.6 library is updated and the package is able  to access the newer versions of the libstdc++.so.6 library object. i.e. it finds the library  on running: “locate libstdc++.so.6”. The issues isn’t that it can’t find the file, it’s th

[2021-07-27 16:21] deeenes commented on #14
Maybe you can install it in your home dir:

[code]

`renv` does this by a more systematic way (do this in your project working directory):

[code]

[2021-07-27 16:30] dbdimitrov commented on #17
Hi Yashna,

I think I actually recall coming across this now. For me it was related to `pandas` and if I remember correctly, I follow this https://github.com/BVLC/caffe/issues/4953 to solved it.

Let me know if it works.

[2021-07-27 16:36] deeenes commented on #15
In this case, just a few modifications:

[code]

In the `transmitter` and `receiver` categories we already collected those subcategories which have the potential to deliver signal from or to the cell. Maybe for the receivers you can use only the transmembrane ones ("pmtm") as peripheral proteins might deliver a signal only indirectly. About the consensus thresholds, I think you will see, if the re

[2021-07-27 16:46] dbdimitrov commented on #15
Hi Denes,

Perhaps, what would be easiest is to give me a day or two to implement the required function in `liana`.  Having a customizable OmniPath resource is something I plan to do anyway. :)

Also, just wanted to note something regarding the complexes. It is important to keep in mind that only some of the methods implemented in liana (namely Squidpy and CellChat) would make use of those. The re

[2021-07-27 17:01] dbdimitrov commented on #13
Seeing that this is a reoccurring issue, I will implement an informative error message when this happens.

[2021-07-27 17:30] anikaliu commented on #14
Hi Denes and Daniel,
all packages were updated now by the person in control of the server and it's still not working:/ Will give renv a try (probably good to start using it anyways) and will then wait for the next update:)

Thanks for you help so far,
Anika

[2021-07-27 18:23] deeenes commented on #14
I afraid `renv` won't make a miracle here, as all packages are already installed, it will simply copy them to your project directory. The issue can be related also to some outdated dependency outside R, C libraries such as BLAS, lxml, etc.

You are getting the error during installation. To see better what's going on, you could try to load the package and report a traceback:

[code]

And:

[code]

[2021-07-27 19:56] ccruizm commented on #15
Great! thank you very much @deeenes  and @dbdimitrov for the useful tips and help. I will wait for the new function to give it a try.

[2021-07-28 23:34] hzorkic commented on #17
Hi Daniel,

I am simply trying to run the tutorial shown on the tutorial site. I'm pretty sure the venv was set up correctly, but these are the errors I get when running squidpy and natmi. As you can see, connectome works just fine.

`$squidpy
<Rcpp::exception in py_run_file_impl(file, local, convert): ModuleNotFoundError: No module named 'squidpy'>

$connectome
# A tibble: 9,396 × 8
   source tar

[2021-07-29 09:55] paulyashna commented on #17
Hi Daniel,

Installing it through conda (this installs the latest version of libgcc 7.2.0) has not worked for me.
I can give a little more detail (may be you already know this):

Error: ImportError: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.21' not found (required by aggregations.cpython-38-x86_64-linux-gnu.so)

This is the exact error.
Is there a specific libgcc version that should be installed

[2021-07-29 14:35] dbdimitrov commented on #17
Hi Haylay and Yashna,

What I would propose is to perhaps try to simplify the conda environment - a lot of the packages that are in the current one are there to provide a stable environment so that NATMI works - I have now re-implemented the NATMI algorithm in R and will soon make a release with it.

In the meantime, I would suggest to try create a clean environment for Squidpy alone:

`conda env

[2021-07-29 15:24] hzorkic commented on #17
@dbdimitrov after executing the following commands, squidpy still does not work:

[code]

[2021-07-29 15:36] dbdimitrov commented on #15
Hi @ccruizm,

[code]

It might take me a bit more time to change the general structure of liana and write a vignette.

In the meantime, I propose using the slightly modified code from above.

[2021-07-29 16:18] paulyashna commented on #17
Hi @dbdimitrov ,

Thanks for your quick reply.

I am able to successfully run call_squidpy after reinitiating conda env only with squidpy. However, it still does not work as a liana_wrap. I may have to check again how it is taking the Idents from my seurat object.

Thanks a lot for this. Looking forward for updates on 'natmi'.

Best Regards,
Yashna

[2021-07-29 18:31] dbdimitrov commented on #17
@hzorkic hmm it seems that either your reticulate isn't recognising the conda environment or that the environment itself is not set up.

What happens if you try to start python and import squidpu in the conda environment?

[2021-07-29 19:19] hzorkic commented on #17
Daniel,

I'm relatively new to envs. Please let me know if I am understanding you correctly- you want me to activate the environment, start python, and then import squidpy with pip ?

Thank you for your help!!

[2021-07-29 19:33] dbdimitrov commented on #17
Hi Hayley,

Yes, exactly!

[code]
This is to confirm if python and squidpy got appropriately installed in conda

If either is missing attempt to install both with the code from above:
`conda create -n liana_env`
`conda install -c anaconda python=3.8.5`

[2021-07-29 20:38] hzorkic commented on #17
bingo!!! thank you so much!!

[2021-08-01 12:21] ccruizm commented on #15
Hello @dbdimitrov,

I have tried the run the modified code you kindly shared but I am having troubles either using the `liana_wrap` function or each individual tool (this case `call_squidpy`) but got the next errors:

With `liana_wrap`
[code]

and running `call_squidpy`

[code]

This issue seems associated when using the wrap or squidpy (it ran with `call_connectome` and `call_cellchat`). Is there

[2021-08-02 06:11] dbdimitrov commented on #15
Hi @ccruizm,

Regarding `liana_wrap`, I need to make some changes to the function itself to work, as it currently requires character class as input for the resources (e.g. "OmniPath").

On the other hand, you can pass a list directly to `call_squidpy`. Also, if you update liana to its latest version, it should also work with a tibble - I have recently changed the way that `call_squidpy` works to a

[2021-08-02 07:41] ccruizm commented on #15
Hello! I had installed the last liana version. I re-installed it (well, forced the installation since my version hadn't changed since the last update) and still get the same error when using `call_squidpy`. `pm_omni` is indeed a tibble. When you mentioned that I could pass a list, I am not sure what you meant by that (something like `omni_list <- list(pm_omni)`?). Sorry if this is a trivial questi

[2021-08-02 08:33] dbdimitrov commented on #15
Hi Christian,

My bad! I did not realize that I have made the change only to my development branch. I have now appropriately made the change to the main branch also.

Alternatively, as you suggest you can pass it the following way:

omni_list <- list("placeholder" = pm_omni)

Regards,
Daniel

[2021-08-06 18:18] dbdimitrov commented on #15
Hi @ccruizm,

Please find the customizable OmniPath vignette /w LIANA here:
https://saezlab.github.io/liana/articles/liana_custom_op.html

I did this along with the re-implementation of some of the methods + enabling them to take complexes into account (see more info on the updated readme :)).

I hope you find this helpful!

[2021-08-06 18:27] hzorkic commented on #17
@dbdimitrov hello again, squidpy was working fine, but now i am getting this error. Note: I have note pulled since the last time i messaged.

[code]

Any idea what's up?

[2021-08-06 18:38] ccruizm commented on #15
Thank you very much @dbdimitrov! Great implementation. It will definitely be of huge help!

I will test it soon!

[2021-08-06 19:00] hzorkic commented on #17
followup: if i run squidpy as such:

[code]

I do get output, and it matches what you have on the tutorial, but I am worried it is incorrect as all of the pvalues are NaN...

[code]

[2021-08-06 19:05] dbdimitrov commented on #17
Hi @hzorkic,

I don't see anything that should be the cause for squidpy not to work when called via its call_ function. This is in fact exactly how I run the unit test for squidpy.

Regarding the liana_wrap output, most of the Squidpy pvalues are usually NaNs (due to many of the genes having an expression of 0 and hence pvalues for those are not calculated). I can have a proper look on Monday and

[2021-08-06 20:01] ccruizm opened #18 "Error using liana_wrap"
Hi there!

I just tried the last version with the new implementations, but it seems there is an issue when using `liana_wrap`, which seems to be related to how `call_connectome` is invoked. I used `call_connectome` and did run, but it did not within the `liana_wrap` function, below the error.

[code]

I thought it could be related to `cellchat` (https://github.com/sqjin/CellChat/issues/139) but do

[2021-08-06 20:20] dbdimitrov commented on #18
Hi Christian,

Thanks for submitting an issue for this.
I will have a proper look by Monday and will get back to you!

From what I see, I think I might not be accounting for certain odd cases (e.g. non-standard gene names or perhaps negative counts) 🤔.

At first look, it seems to be related to the z-score scaling that is done as part of my re-implementstion of connectome. You could try to run the

[2021-08-09 07:31] ccruizm commented on #11
Hello!

I would like to know if you have any suggestions on how to format the data and input it in CrossTalkeR. For instance, if I use `liana_wrap`, the tutorial mentions that aggregate_rank can be used as P value. Should I use this value for visualization purposes? Do you have any preliminary code that one could share to use the output from liana and generate the plots using CrossTalkeR, please?

[2021-08-09 15:15] dbdimitrov commented on #11
Hi @ccruizm,

Yes, I am also planning to use the p-value for visualizations. However, this will likely come at a later stage.

@jsnagai is the person who could help with CrossTalkeR the most and I believe there is some preliminary code to integrate the two tools :)

[2021-08-10 09:51] ccruizm commented on #18
Sure! I tested it in the downsampled version and got the same error. Hope you can reproduce it and find where the issue is.

Let me know whether you have any problems downloading the data.

Thanks!

https://we.tl/t-pZOI7rWhzL

[2021-08-16 13:56] ccruizm commented on #11
Thanks for your reply! @jsnagai do you have any preliminary code to visualize the results from `liana_wrap` that you could share, please?

Many thanks!

[2021-08-16 17:32] dbdimitrov commented on #18
Hi @ccruizm,

Unfortunately, I cannot reproduce the issue, as it runs for me just fine with the `celltype_squidpy` annotations.
What I can perhaps see from the error seems to be related to the SingleCellExperiment architecture (i.e. scatter/scuttle) that I use to calculate logFC changes.

Please if you could cross-reference your session against mine, particularly the SingleCellExperiment-related p

[2021-08-16 18:04] dbdimitrov commented on #18
Also, I would suggest updating to Squidpy >1.1.0, as there was a bug in the previous version where p-values of 0 would be assigned NaNs :). It appears to be solved now!

[2021-08-16 18:11] ccruizm commented on #18
Perfect! Will have a look at it and let you know how it goes. Thanks!

[2021-08-17 08:42] #15 closed

[2021-08-20 16:36] hzorkic opened #19 "Omnipath error: "character" class"
Hi! I am trying to understand why I can run 'OmniPath' alone in the wrapper, but need to put  ('OmniPath')[[1]] if I am calling a tool individually?

This works:
[code]

This does not work:
[code]

Thank you!

[2021-08-30 09:39] dbdimitrov commented on #19
Hi @hzorkic,

Apologies for the delayed response as I was on holidays.

I think the inconsistency that you are referring to has now been addressed, so if you update LIANA to the latest version it should be solved - i.e. call_squidpy should run with a resource passed as a tibble as well as a list of resources. This was something specific to the Squidpy pipeline, otherwise each other tool should wor

[2021-08-30 19:48] dstueckm opened #20 "Interpretation of NA values in squidpy and iTALK ouput"
Hi there,

I have been running LIANA using cellchat, connectome, squidpy, and iTALK, before aggregating the results.
I've noticed that >90% of the squidpy p values are NaNs - as you've previously mentioned in https://github.com/saezlab/liana/issues/17, this could be due to zero values in gene expression. However, I have confirmed this is not the case for some interactions that receive NaN. I also

[2021-09-02 09:37] dbdimitrov commented on #20
Hi @dstueckm,

Usually most of Squidpy's pvalues are NaNs - these include interactions in which either the receptor or ligand have an expression of 0 or such that are not expressed by a given proportion of cells.
However, based on the output you provided, I would recommend that you check what is the version of your Squidpy algorithm as version 1.0 seemed to have a bug where it would inappropriatel

[2021-09-02 09:55] paulyashna opened #21 "Different Interactions coming up when using Ramilowski2015 and Omnipath resources"
Hi @deeenes  and @dbdimitrov,

I have a question about the database resources being used by Liana. I tried using 'Ramilowski2015' and 'Omnipath' in separate Liana runs but with the same input seurat object and and same methods (liana_aggregate).

In the output interactions with 'Omnipath' I miss some interactions that come up has top significant ones when using only 'Ramilowski2015'. I would have

[2021-09-02 10:47] dbdimitrov commented on #21
Hi Yashna,

Indeed, OmniPath is a bit more than the union of all resources as we have filtered it according to localisation consensus and according to curation. If you wish to get a bit more details on the way that we filtered or to create a more promiscuous OmniPath version I suggest having a look at this tutorial:
https://saezlab.github.io/liana/articles/liana_custom_op.html

Best,
Daniel

[2021-09-03 10:17] paulyashna commented on #21
Hi Daniel,

So just to be clear when I select the resource 'Omnipath' during a LIANA run, it is actually 'Omnipath: as used in the Liana manuscript'; and NOT the unfiltered and original 'Omnipath' resource. Is that correct?

Best Regards,
Yashna

[2021-09-03 11:09] paulyashna commented on #21
Hi Daniel,

So just to be clear when I select the resource 'Omnipath' during a LIANA run, it is actually 'Omnipath: as used in the Liana manuscript'; and NOT the unfiltered and original 'Omnipath' resource. Is that correct?

Best Regards,
Yashna

[2021-09-06 06:47] dbdimitrov commented on #21
hi @paulyashna,

1. Correct.
2. At this stage OmniPathR does not provide a function to do that, but it is something that is planned to be implemented. However, technically it shouldn't be much different than the conversion of genes in any other set.

I hope this helps.

Best wishes,
Daniel

[2021-09-07 09:04] dbdimitrov commented on #21
@paulyashna, FYI we had a discussion on this issue and its something that we will aim to implement in the near future :)

I will keep you posted.

[2021-09-07 12:01] paulyashna commented on #21
hi @dbdimitrov ,

Thanks for letting me know. It will be great to be able to compare mouse and human interactions. Until now I just convert mouse Ids to human gene names in the Seurat count matrix.

On another note, on using 'generate_omni' , I have been getting:

Error: 'filter_intercell_network' is not an exported object from 'namespace:OmnipathR'

Do you have an idea what may be causing this?

[2021-09-07 16:24] dbdimitrov commented on #21
Hi Yashna,

I believe it's the Omnipath version that you're using. I suggest updating it to the latest one on github.

Best wishes,
Daniel

[2021-09-07 19:27] dstueckm commented on #20
Hi Daniel,

Thanks for the response! I've updated the squidpy version in the conda environment to 1.1.0 and it's working as expected.

[2021-09-07 19:27] #20 closed

[2021-09-07 22:04] paulyashna commented on #21
Thanks a lot I updated both OmnipathR and Liana, and generate_omni works smoothly.

[2021-09-08 05:34] #14 closed

[2021-09-08 10:51] #8 closed

[2021-09-08 10:51] #17 closed

[2021-09-16 17:55] dbdimitrov commented on #18
Hey @ccruizm,

I stumbled across your error when using a different dataset :)

It turns out it's related to the logFC calculation that the liana pipeline does, in particular it was related to a case in which a cell has expression of 0, i.e. none of the genes in the ligand-receptor resource are expressed in a given cell (however I assume these are not filtered when the whole genome is considered si

[2021-09-27 11:50] Chengwei94 opened #22 "Liana fails to run with any of the methods for my seurat data"
[ss_liana.zip](https://github.com/saezlab/liana/files/7235933/ss_liana.zip)

I cant make liana work my Seurat Dataset. I have attached one downsampled example as attached. The error when working with cellphoneDB come out Error: `cols` must select at least one column.

When working with cellchat,  the error comes out as
Error: Please check `object@data.signaling` and ensure that you have run `subse

[2021-09-27 12:10] dbdimitrov commented on #22
Hi @Chengwei94,

I noticed that you are working with mouse data, and currently, LIANA does not provide mouse interactions as resource, however it's something that others have requested and I'm working on it. If you give me a couple of days, I could come back to you with a temporary solution that you could use to run LIANA on mouse data.

Also, the issue that you are seeing occurs only /w the CellC

[2021-09-27 14:27] Chengwei94 commented on #22
Hi @dbdimitrov,

noted, thanks for the quick reply

[2021-09-27 16:53] dbdimitrov commented on #22
Hi,

As a quick temporary solution for mouse data, I suggest using the following code:

[code]

However, it's worth mentioning that here we're simply converting from the human OmniPath, which might not always be an exact match to murine symbols or existing interactions. We are working to address this and extend LIANA in this direction, but this might take some time.

I hope this helps.

Best wishe

[2021-09-27 16:55] dbdimitrov commented on #21
Hi @paulyashna,

Just wanted to let you know that I have written a temporary solution for conversion of OmniPath interactions to mouse symbols. It is not ideal, but it might be worth a shot in the meantime.

You can find it here:
https://github.com/saezlab/liana/issues/22#issuecomment-928067888

Best wishes,
Daniel

[2021-09-28 08:36] paulyashna commented on #21
Thanks for this update @dbdimitrov. I will try this out in the coming days and mention if I have a feedback.

[2021-09-28 08:36] #21 closed

[2021-10-06 13:07] adrdufour opened #23 "Use of LIANA with a different species"
Hello,

I would like to know, if it's possible to obtain and use orthologous protein id from another species (pig).

Thanks

Regards,
Adrien

[2021-10-18 13:19] #23 closed, assigned to nobody

[2021-11-08 17:07] Projectnix commented on #22
Hello @Chengwei94

I had a similar task and I solved it by converting my murine Seurat dataset's genes to human orthologs using a .csv I generated, similar to what @dbdimitrov did. However, instead of converting OmniPath, I converted both the 'counts' and 'data' slots of my Seurat's 'RNA' assay to make it work. You might need to wrangle the data a bit - specifically get rid of duplicates and other

[2021-11-08 17:12] Projectnix opened #24 "New 'cytotalk' implementation error"
Hi @dbdimitrov,

I've attempted the new 'cytotalk' implementation on my Seurat object via the wrapper, and it seems to error out with the following message:

[code]

For the record, my default assay is the 'RNA' slot and I lack any kind of transformation in that slot as I use 'SCTransform' to do my normalization/scaling, which makes its own separate slot. I'm not sure if the error is because of th

[2021-11-08 21:46] dbdimitrov commented on #24
Hi @Projectnix,

Indeed. It seems likely that error occurs, as liana by default uses the RNA assay with the normalised data slot.
I would suggest changing the assay to "SCT", by passing assay ="SCT" to the `liana_wrap` call.

Also, there is no need to pass normalize=TRUE to the cellchat parameters, if you have already normalised your data.

It's important to note that the cytotalk implementation i

[2021-11-08 21:57] Projectnix commented on #24
That seems to have worked!

Do you foresee any issues with running LIANA on the "RNA" slot for all the other implementations/algorithms, and running it on the "SCT" slot for the 'cytotalk' implementation before combining the two and feeding it into liana_aggregate?

I believe the authors of Seurat recommend performing most downstream analysis on the raw, non-scaled data in the $RNA@data slot rathe

[2021-11-09 07:00] dbdimitrov commented on #24
Hi @Projectnix,

`liana_aggregate` is used to combine the results from different methods.

I believe that it largely depends on what downstream analysis you would like to perform. In the case of LIANA, I'd suggest using the log-transformed counts (i.e. those that are typically stored in `RNA@data` (which in your case were not present since you apply SCT). `SCT`-transformation is an alternative to

[2021-11-21 11:31] GreenGilad opened #25 "Fail to run LIANA tutorial"
I am trying out this (much needed) package but failing even on the tutorial scenario.
Running the following:
[code]
ends with the following error:
[code]
I installed the package and updated any dependencies. Resources and methods lists are as in tutorial and `testdata` seems fine.

Session Info:
[code]

[2021-11-22 17:06] dbdimitrov commented on #25
Hi @GreenGilad,

I looked up the issue and unfortunately it appears to be Windows-specifc and related to a package that I'm importing in LIANA, so it seems that there is little that I can do in the short term.

I have inquired the BioConductor developer e-mail chain as the issue seems to be related to BiocParallel and I'm assuming that it might be version specific.

Will come back to you soon.

[2021-12-01 13:54] dbdimitrov commented on #25
@GreenGilad
Something that we noticed is that this issue does not appear only occurs when using R version 4.1. Not sure what is causing the issue here and did not get an informative answer from the BioC developers. Will look further into it and come back to you.

[2021-12-05 10:15] GreenGilad commented on #25
Hi @dbdimitrov,

Thanks for the reply and for attempting to solve the issue. I really hope it can be solved as I am very much looking forward to using this package.

[2021-12-09 07:44] dbdimitrov commented on #24
@Projectnix Also, I have now appropriately changed the name to Crosstalk scores, as in reality we do not support the whole cytotalk tool :)

[2021-12-09 07:44] #24 closed

[2021-12-14 17:11] qianxu05172019 commented on #18
when I use the older version of R (4.0.1), the problem is solved!

[2021-12-23 20:00] #22 closed

[2021-12-23 20:00] #19 closed

[2022-01-01 09:55] GreenGilad opened #26 "LIANA over Seurat/Non-Seurat data"
Hi there :)

Going over the `liana_wrapper` code I thought of a few questions:

1. The first thing that happens in the `liana_pip` function is to convert the Seurat object to a SingleCellExperiment object. Perhaps The `liana_wrapper` should be a generic method accepting either: Seurat object, SingleCellExperiment object or simple a count matrix + annotation vector?

   Besides it being more generi

[2022-01-01 11:01] dbdimitrov commented on #26
Hi @GreenGilad,

1. Agreed. I plan to make a major code and dependancy clean up as soon as I'm back from holidays and this is one of the first changes that I plan to do. I further plan some downstream extensions (plotting, cytokine activities, etc) and an improved resource, etc.

2. Thanks for noticing, I will change it appropriately.

3-4. This is a bit of a longer discussion, but I will try to s

[2022-01-14 01:10] the6science opened #27 "Mouse data?"
Hi there! Liana seems great and I have no problem running it on human data. However, using the default parameters, every mouse dataset I have tried comes up with receptors or ligands that are just F3, F7 or F10. Do I need to specify species somewhere in the code?

[2022-01-14 09:17] dbdimitrov commented on #27
Hi,

Yes, by default LIANA uses human symbols, so you would need to convert them to murine.

I describe and provide a code snippet how to do so here:

https://github.com/saezlab/liana/issues/22#issuecomment-928067888

I hope this helps!

[2022-01-14 15:27] yjgeno opened #28 "pass seurat argument to LIANA wrap function"
Hi, thanks for your package.
I wanted to replace some arguments of a Seurat function that was included in one of your "call_[method_name]" functions. (For example, call_italk invokes Seurat::FindAllMarkers)

I checked your LIANA wrap function source and it looks like only arguments that exist in the liana_defaults(...) would be replaced.
However, liana_defaults(...) does not include any named argu

[2022-01-15 11:35] dbdimitrov commented on #28
Hi @yjgeno,

Actually, I have re-implemented the italk method completely under the "logfc" method, and hence the slower Seurat-based italk implementation is deprecated.

The logfc method's required statistics, as well as those of any other internally implemented method, are generated using the `liana_pipe` function. The `liana_pipe` function itself is built on SingleCellExperiment, and you can ind

[2022-01-17 03:29] yjgeno commented on #28
Hi @dbdimitrov thanks for your comment. May you give me an example of how you implement liana_wrap with liana_pipe.params?

[2022-01-19 07:47] GreenGilad commented on #26
hi @dbdimitrov,
I was wondering if there is any update regarding the potential refactoring? I very much would like to use this package but as it must receive a Seurat object I can't - the data is simply too large to create a Seurat object (at least until Seurat will support 64bit matrices.. :) )

[2022-01-19 08:51] dbdimitrov commented on #28
Hi @yjgeno,

An example would be:
`liana_wrap(seurat_object, method="logfc", liana_pipe.parms=list(test.type="t))`

However, currently logfc won't return p-values. So, it would be in vain. I am working on a large LIANA update, and I will change that individual methods to return more relevant columns, as currently the focus of liana is focused around the consensus.

I will also think whether I can

[2022-01-19 13:31] dbdimitrov commented on #26
Hi @GreenGilad,

I've been trying to find a bit more time for it lately, but alas, yet I've already changed some bits. I hope that I will find a week to make all changes that I want by the end of the month.

Thanks a lot for the interest, I will do my best to deliver soon :)

[2022-01-19 14:58] yjgeno commented on #28
@dbdimitrov thanks for your feedback and look forward to your updates
As you mentioned, probably more examples of how to pass the latent parameters to LIANA methods would be helpful

[2022-01-21 14:24] CyrilLagger commented on #25
Hi,

Today I got a similar error on both Windows and Linux:
[code]
In both cases, I am running R 4.1.x.

@dbdimitrov: What package do you think is causing the problem?

Session info for Linux:
[code]

Session info for Windows:
[code]

[2022-01-24 14:37] CyrilLagger commented on #25
I traced back the error to the part of the code that calls `scran::FindMarkers` with `full.stats = TRUE`:
https://github.com/saezlab/liana/blob/0c0bad180614d93beb8486b0e92df283cd838953/R/liana_pipe.R#L91-L98

Tracing back the error further, it seems there is a bug with the function `scran::combineMarkers()` when passing `full.stats = TRUE`.

I raised an issue on the scran repo to see if they can f

[2022-01-24 16:41] dbdimitrov commented on #25
Hi @CyrilLagger,

Thanks a lot for looking into it and for raising an issue, I pinpointed it to `findMarkers` myself, but the information about combineMarkers() is much appreciated. I will have more time this week and will look into this in detail!

Cheers,
Daniel

[2022-01-26 15:50] dbdimitrov commented on #25
Hi @CyrilLagger and @GreenGilad,

From the github issue that Cyril opened on the scran Github, I was able to resolve the problem by simply updating `SingleCellExperiment` and `scran`.

Having both `scran` and `BiocParallel` updated to the latest BiocManager release also worked out on the machine of a colleageu of mine.

Let me know if this fixes the issue and thank you both.

[code]

[2022-01-26 15:55] CyrilLagger commented on #25
Yes, thanks, it fixed this issue for me.
I guess that would also solve @GreenGilad's issue, as I can see he was using scran_1.18.7 (BioC 3.12) and BiocParallel_1.26.2 (BioC 3.13).

[2022-01-29 09:39] dbdimitrov commented on #11
Hey,

Took while for me to get to this but LIANA now provides a flexible dotplot function.
Feel free to open an issue if any other specific type of plot would be useful.

[2022-01-29 09:39] #11 closed

[2022-01-29 10:18] dbdimitrov commented on #26
Hi @GreenGilad ,

I have now implemented a number of changes to allow SCE objects as input. By default, it would look for the `counts `or `logcounts ` from the SCE object.
In fact, liana's functionalities are now solely reliant on SCE, so as a next steps, I will aim to reduce the number of dependanices as next steps (including Seurat).

Any feedback would be appreciated and I'd be happy to discuss

[2022-01-29 11:48] #27 closed

[2022-01-30 08:47] GreenGilad commented on #25
Hi @dbdimitrov ,
Thanks for working on the issue! Will test it and update you

[2022-01-30 11:59] GreenGilad commented on #26
@dbdimitrov Perfect :) I had a quick look and it looks good. I will check if I am able to create a SCE object for my data (depends if they support 64bit matrices) and then to pass it to LIANA.

Will keep you updated

[2022-01-31 07:34] GreenGilad commented on #26
@dbdimitrov I do think however that if it is possible to simply pass a named list of DEGs it would be better. Even if I will be able to create one huge object, the DEGs I'd be interested in are within the different cluster of the same cell type. So I would calculate the DEG for each subset separately and then provide a named list containing the concatenation.

I have noticed that CellPhoneDB in th

[2022-01-31 07:50] dbdimitrov commented on #26
Hi @GreenGilad,

I agree and I also agree that CPDB should be filtered by DEGs for the sake of efficiency. However, for now I need to keep liana consistent with the actual publication of the CPDB algorithm, I could come back to this (hopefully soon) :).

Perhaps, one solution for now would be to simply filter OmniPath (or whichever resource, you wish to use with liana) to the DGE genes and then us

[2022-02-07 10:59] paulyashna opened #29 "some interactions identified by Liana are not present in the cust_omni tibble obtained after running generate_omni"
Hi Daniel and authors,

1) I have generated a customized omnipath resource to be used as input with liana_wrap as follows:

cust_omni <- generate_omni(loc_consensus_percentile = 30,
                           consensus_percentile = NULL,
                           transmitter_topology = c('secreted',
                                                    'plasma_membrane_transmembrane',

[2022-02-07 14:49] dbdimitrov commented on #29
Hi @paulyashna,

Thanks for the issue.

1. Actually, in one of the recent updates of LIANA, I filtered a few more interactions (namely such which have ambiguous receptors from liana's default resource). So, if you run the resource above, you should indeed expect to see some differences.

I am planning a subsequent improvement iteration of LIANA's resource, namely one that focuses solely on interac

[2022-02-07 16:26] paulyashna commented on #29
Hi Daniel,

Thanks for the quick reply and pointing me towards the improved function. I will have a look at it.

Regarding the 'sca', there is no error actually. In fact it does create a resulting liana_result$sca tibble. It's just empty. And so there is no error even in the next aggregate_liana step. However, on the same dataset at <80k cells and using the above mentioned custom_omni resource  it

[2022-02-07 17:10] dbdimitrov commented on #29
Hi Yashna,

I expect liana to behave the way that you suggest when it aggregates the results, however I'm really not sure how it could work with one resource, but not the other. Also, it's odd that it is somehow specific to SCA alone. I assume it is related to the `global_mean` that is used in to calculate all interactions in SCA, and possibly for some reason when you use the inbuilt resource it r

[2022-02-15 18:59] dbdimitrov commented on #29
Hi Yashna,

1. If the sum of counts is indeed exactly 0, is it truly log normalized? If it is then this is the reason why you see NAs from SCA.
2. Technically, the way that LIANA works is that I "decomplexify" any complexes, and then "recomplexify" each methods independently. Meaning that I calculate stats for each gene in each interaction and then combine them back into complexes.
3. Also, missin

[2022-02-20 18:17] paulyashna commented on #29
Hi Daniel,

I have tried to run Liana 0.0.7 with the consensus resource you have suggested.

Good news is:  'SCA' works well now with my larger dataset of 2.7 Gb (Thanks for this!!)

Certain observations:

1. I know and see in all your tutorial's sessionInfo() that R 4.0.3 has been used. However I was using Liana 0.0.5 before I did the update to 0.0.7 today and Liana 0.0.5 was working fine with R

[2022-02-20 20:38] dbdimitrov commented on #29
Hi Yashna,

1. This issue is related to incompatibilities between certain BioConductor packages on 4.1. See here for a fix:
https://github.com/saezlab/liana/issues/25

2. LIANA will return blank for the error unless you check the returned list by name. This error is thrown by CellChat it seems on purpose, I've seen it myself. A way around it is to simply rename your clusters so that neither is '0'

[2022-02-24 22:29] paulyashna commented on #29
Hi Daniel,

I now updated all packages on R v4.1.1, and Liana works smoothly. Thanks for pointing to the earlier issue.

Regarding cellchat: I actually have cluster annotations and not numbers that the seurat Idents are assigned to. Sorry I failed to mention this in my last comment. With cellchat I am experiencing a constant isssue on R v4.0.3 and R v4.1.1 which is:

Running LIANA with RNA as defa

[2022-02-28 15:34] dbdimitrov commented on #25
@GreenGilad Hey, I assume it worked so I will close the issue, but feel free to re-open, if the issue persists :)

[2022-02-28 15:34] #25 closed

[2022-02-28 15:37] #29 closed

[2022-03-07 12:55] lengfei5 commented on #18
I am not sure the issue has been solved, because I have installed LIANA recently and I got the same error.

``colLabels` was converted to factor
Error in .local(x, ...) : **size factors should be positive**
In addition: Warning message:
In .filter_sce(sce) :
  198 genes and/or 0 cells were removed as they had no counts!

R version 4.0.3 (2020-10-10)
Platform: x86_64-pc-linux-gnu (64-bit)
Running u

[2022-03-07 16:43] dbdimitrov commented on #18
Hi @lengfei5,

I see that you are using SingleCellExperiment, could you double check that the logouts and counts of your object don't have any negative values?

Thanks,
Daniel

[2022-03-07 20:43] lengfei5 commented on #18
Dear @dbdimitrov ,

Thanks you for your prompt answer.
Yes, there are indeed negative values in logcounts, but this is expected, right ? in normalized data in log scale.

Best,
Jingkui

[2022-03-07 20:51] lengfei5 commented on #18
In addition, I would like that LIANA is using only the logcounts data, NOT counts at all, because those logcounts were batch corrected and count is not.
I am wondering how to specify certain parameter to control this. Many thanks again.

Best,
Jingkui

[2022-03-07 21:02] dbdimitrov commented on #18
Hi @lengfei5,

Technically, unless you have counts below 1 before log2 transformation (which I assume might be an artefact of the mentioned batch correction), you shouldn't have any negative values.

If you use LIANA with its default methods, neither of those uses the raw counts, except logFC Mean (which later normalizes the raw counts in a way to allow 1vsRest logFC calculation).

[2022-03-14 07:23] dbdimitrov commented on #18
I will close the issue for now, as I don't see it as a technical issue of liana itself.

As a more informed solution in liana's next version, I could throw a more informative exception upon passing raw counts of less than 1(which will then be negative if logged), or having negative counts in the log-transformed matrix.

[2022-03-14 19:21] soheilj commented on #18
Hi,
My two cents on this:
I was also having the same issue, getting the "**size factors should be positive**" error.
The error is raised from the **normalizeCounts** function from the scuttle packages and is pretty much explanatory and means that the average sum of gene counts across cells (size factor) has to be larger than zero.
In my case, it was being raised because I'm running on a mouse data

[2022-03-14 20:08] dbdimitrov commented on #18
Hi @soheilj,

thanks a lot for the comment. I will also make a check if by any chance the organism is mismatched.

A mouse database is something that we've considered,  but is unlikely to come soon. Nevertheless, it is worth noting though that mouse orthologs (e.g. via BioMart) is not uncommon. :)

[2022-03-28 10:59] dbdimitrov commented on #18
Hi,

I believe, I have now found where this issue occurs. It happens when the mean of the raw counts of the 'rest' group when calculating the 1vsRest logFC is 0. Then a log of 0 is -inf -> hence factors are negative, it should work accordingly in the next version of LIANA.

I have also implemented a number of checks to avoid this error from being thrown without a proper explanation (e.g. as Soheil

[2022-03-28 16:25] soheilj commented on #18
Hi Daniel,

Thank you very much for following up on this and for the tutorial. It is very helpful.
I will check out the orthology conversion tutorial and will share my experience with that.

Thank you,
Soheil.

[2022-03-31 21:18] dstueckm commented on #18
I just wanted to leave a comment regarding the size factors issue.
It does not seem like the version of LIANA I recently downloaded (liana_0.0.8) has resolved the issue of filtering out cells with 0 counts across all ligands and receptors in the database.
I was receiving the same error message, and upon filtering out all cells with no counts of OmniPath ligands/receptors (< 10 cells) the issue was

[2022-04-01 07:03] dbdimitrov commented on #18
Hi @dstueckm,

Indeed, the change is implemented on version 0.1.0, which I'm yet to push to `master`, I will do so next week after I clean up certain things.
In the meantime, you can install it from the liana_1.0 branch :)

[2022-04-04 10:28] Wulin-Tan opened #30 "how can liana be applied to mouse dataset?"
Hi, Liana is perfect for investigating the CCC. but how can it be applied to mouse dataset?
Thanks a lot.

[2022-04-04 15:50] dbdimitrov commented on #30
Hi @Wulin-Tan,

Thanks. I recently wrote this tutorial on conversion to murine orthologs:
https://saezlab.github.io/liana/articles/liana_ortho.html

I hope this helps.

Best,
Daniel

[2022-04-04 17:03] dbdimitrov commented on #30
Note that a human-murine dictionary is also implemented in LIANA.

[2022-04-06 21:00] alejoaa opened #31 "Error in coercing to CsparseMatrix when running with SingleCellExperiment"
Hi, thanks for the Liana package!

I'm running into an error that I haven't been able to solve. When running `liana_wrap` with a SingleCellExperiment I get the following error:

[code]

Do you know how I may be able to solve it? Thanks

[2022-04-07 08:32] dbdimitrov commented on #31
Hi @alejoaa,

It seems that you have a data.frame in either your counts or logcounts slot.
This should be a matrix. So it would be worth to double check this.

If this is not the case, you could share a subset of your object with me and I can check myself.

Best,
Daniel

[2022-04-07 12:11] Wulin-Tan commented on #30
Hi, @dbdimitrov
I just saw that tutorial, it is wonderful!
thank you very much.

[2022-04-08 06:16] #30 closed

[2022-04-08 20:51] alejoaa commented on #31
Hi @dbdimitrov,

Thanks, your solution worked. Seems that in all my analyses the `SingleCellExperment` stores counts and logcounts as `data.frame`. I had tried to directly coerce the `data.frame` to a sparse matrix and it didn't work. But running `assay(sce, "counts") <- as.matrix(assay(sce, "counts"))` fixed it.

Best,
Alejandro

[2022-04-08 20:51] #31 closed

[2022-04-10 19:06] austinv11 opened #32 "Comparing Results across conditions?"
Hello,

I was just wondering, some of the methods implemented in LIANA allow for comparing results across datasets (i.e. diseased vs normal) to see how signaling changes according to conditions. Is there any way to do that using LIANA? For instance CellChat has this tutorial: https://htmlpreview.github.io/?https://github.com/sqjin/CellChat/blob/master/tutorial/Comparison_analysis_of_multiple_datas

[2022-04-20 19:32] bsb0613 opened #33 "Errors from running liana_wrap with call_cellchat"
I have updated Liana to 0.1.0 version from 0.0.9. It seems like method 'cellchat' is not there anymore and 'call_cellchat' exists instead.
First, does this mean that re-implemented version of cellchat would be no longer supported?

Then, I manually downloaded CellChat package with the newest version of 1.1.3 and igraph 1.3.1.

But it seems like there might be issue with graph functions since the e

[2022-04-22 17:29] bsb0613 commented on #33
I am not sure what would be the best way to share a file on github but here I attached google drive link to a subset of my data with 10k cells. It's a Seurat Object (in RDS) with celltypes annotated as 'celltype'. You would probably need Seurat v4 to load this data.

I used command
[code]
which gave me error messsage
[code]

'Not a graph object' error seems to pop up if you try to put anything oth

[2022-04-22 20:19] dbdimitrov commented on #33
Hi @bsb0613,

I was able to run cellchat via LIANA with the object that you provided.

Note that to pass parameters to cellchat you should do the following (but I don't think it would be quicker when you parallelize with so few clusters, likely it would be slower):

[code]

I assumed it might be related to the object conversion, but I tested with the same CellChat, Seurat, SeuratObject and igraph

[2022-04-22 20:47] bsb0613 commented on #33
This is very strange. I have exact same packages and versions loaded to R.
One notable difference is the versions of OmnipathR (yours 2.0 while mine is 3.3.23), but I don't think that would affect the results?

I guess I am on R 4.1.3 but would that be a lot different from 4.0.3?

The versions of liana is the same but yours is 'saezlab/liana@7858d41' while mine is 'saezlab/liana@6b98c36.' I don't

[2022-04-23 07:41] dbdimitrov commented on #33
Hi @bsb0613,

Would be best to update liana to the latest push - I did a minor edge-case fix for CellChat with the Consensus resource. I doubt it would help with your issue though.

It's very much likely that it's the version of R. I'll check with R4.1 on Monday and I'll let you know if I encounter the issue.

[2022-04-25 13:42] dbdimitrov commented on #33
Again, it also runs on R4.1 for me - really not sure what the issue is in this case.

[code]

[2022-04-25 16:42] bsb0613 commented on #33
Thanks for trying out with so many different setups.

I have been trying to establish new R 4.0 environment and also trying to update Liana to newer 0.1.0 (6b98c36 to 7858d41) on R4.1 environment.

I had some issues updating Liana due to some conflicts with SingleCellExperiment. With both version 1.12 and 1.16 of SCE, there were errors messages stating some functions are not available from SCE whe

[2022-04-25 16:52] dbdimitrov commented on #33
Perfect! Good to hear it worked out. I assume the issues are related to incompatible BioConductor packages.

The warning is expected - it's related to formating LIANA resource to CellChat resource format. I will suppress it in LIANA next update.

I will close the issue now - feel free to open any other ones if you encounter any issues.

[2022-04-25 16:52] #33 closed

[2022-04-25 23:22] MarcElosua commented on #18
hi @dbdimitrov,

First of all great job for the package!!
Just in case no one else has reported it. I have `liana v0.1.0` installed and I was getting the error reported in this issue. After filtering how @dstueckm recommends it works smoothly! For this project I'm using `Seurat v4.1.0`.

Again, amazing job, thanks for putting this together!

I'm sharing my session info in case it helps.
[code]

[2022-04-26 09:13] dbdimitrov commented on #18
Hi @MarcElosua,

Thanks for the great feedback and for commenting on this issue!

I think I noticed what the issue was - I was filtering cells together with limiting the universe to ligand-receptors.
I believe the this should now be resolved.

Please let me know if the problem persists after updating liana to the latest version.

Thanks,
Daniel

[2022-04-26 16:07] MarcElosua commented on #18
I reinstalled from the main branch and it works! Thanks for the speedy response!

[2022-04-26 16:16] dbdimitrov commented on #18
@MarcElosua Perfect!

[2022-04-26 16:16] #18 closed

[2022-04-27 13:39] Fransis11 opened #34 "Vizualization options"
Hello,

Thanks for making this useful tool!

I'm not an expert but I am trying to explore Liana in order to prove that my results are not resource-specific. I was wondering, are there visualization options other than the dotplots?

Thank you!

Best regards,

Francesca

[2022-04-27 19:33] dbdimitrov commented on #34
Hi @Fransis11,

Thanks for opening an issue and for the kind comment.

Indeed, currently liana provides only a basic dotplot.
I do plan to extend visualization options as this is one of the most requested features, so I'm open to suggestions.

Daniel

[2022-04-28 08:51] Fransis11 commented on #34
Hi @dbdimitrov,

Thanks for the quick and nice answer. I can suggest something like circle plot or heatmaps (like in cellchat) or similar. Also, is there a way to know with which cell types a specific cell type mainly interacts?

Thanks a lot!

Francesca

[2022-05-03 20:05] dbdimitrov commented on #34
Hi @Fransis11,

I have now included a frequency heatmap to the tutorial, inspired by CellChat and CellPhoneDB.
I also suggest caution when interpreting such a heatmap :).

I will continue adding more visualizations to LIANA, but these will be part of it's long-term developments.

Daniel

[2022-05-04 08:29] Fransis11 commented on #34
Hi @dbdimitrov ,

Thanks a lot for your useful and quick implementation, good luck for the future developments!

Francesca

[2022-05-04 11:15] #34 closed

[2022-05-04 16:47] austinv11 opened #36 "call_cellchat trouble with liana_aggregate?"
Hello, I am using liana 1.1 and I am using a custom resource with a few methods in LIANA, including call_cellchat. However, it seems that the output of call_cellchat does not match what is expected in liana_aggregate as it is missing the ligand.complex and receptor.complex columns that are present in other outputs. Image of the outputs below:

![image](https://user-images.githubusercontent.com/637

[2022-05-04 18:38] dbdimitrov commented on #36
Hi @austinv11,

I just pushed a hotfix to address the issue.

[2022-05-05 03:33] austinv11 commented on #36
Just reinstalled, seems to work now. Thank you for the prompt fix!

[2022-05-05 03:33] #36 closed

[2022-05-05 16:12] austinv11 opened #37 "P-Value Interpretation Question"
Hello,

I have a quick question regarding methods that return pvalues such as cellphonedb. Are they multiple-test corrected?

Thanks!

[2022-05-05 16:45] austinv11 opened #38 "Issue with scconnect"
Hello, when I try to use the Scconnect, I get the following error from liana:

`Error: trying to get slot "columns" from an object of a basic class ("NULL") with no slots`

Is there anything I need to do to prevent this from happening?

[2022-05-05 18:01] dbdimitrov commented on #38
Hi @austinv11,

I implemented scconnect when testing methods in liana, but decided against including it.
So, scconnect won't run as only it's scoring function is implemented, but it is not meant to be part of the methods in liana.

You can see the available ones via `show_methods()`.

I will remove the redundant code to avoid any confusion in liana's next update.

Thanks,
Daniel

[2022-05-05 18:08] austinv11 commented on #38
Ah, I understand. Thanks for the information.

[2022-05-05 18:08] #38 closed

[2022-05-05 18:51] austinv11 commented on #37
Gotcha, thanks for the info!

[2022-05-05 18:51] #37 closed

[2022-06-03 17:38] austinv11 opened #39 "Too many p-values of 0?"
Hello,

Once again I am really grateful for all your work! But I am a little concerned about the p-values I am seeing for permutation tests such as cellphoneDB and cellchat on my data.

I am using a custom resource for my analysis and I am seeing that for cellphonedb and cellchat I am getting >60% of results with a p-value of 0 (even with permutations set to 10,000). This is fairly similar to the

[2022-06-06 18:37] austinv11 commented on #39
Hello, I appreciate your response! Comforting that this is a known phenomenon.

I suppose it is less of an issue for CellChat since you mention that it is somewhat expected and it provides a secondary `prob` column that I can use for sorting/ranking outside of the p-values.

Though, I should note that we have tried experimenting with the `expr_prop` filter already, and it appears to not really hel

[2022-06-06 18:48] dbdimitrov commented on #39
Hi @austinv11,

Thanks a lot for looking into this and for raising this point. I will look into it and come back to you.

Daniel

[2022-06-07 08:52] dbdimitrov commented on #39
Hi @austinv11,

I believe I might know why this happens.

In short, I believe it's to do with the way that I calculate the p-values. Rather than counting (i.e. knowing the exact number of lr_mean > than the reshuffled means), for the sake of computation speed, I instead use `ecdf` to calculate a percentile for each `lr_mean`, then I use this to estimate the p-value.

I will do some more checks and

[2022-06-07 08:57] dbdimitrov commented on #39
I believe there might be a workaround if I z-transform the reshuffled means and then use `pnorm` to calculate the p-values. I will try to implement it in the next update.

In the meantime, similarly to how you use `prob`, one could argue that you can use the `lr_mean` from liana's cpdb to also rank, keeping in mind that it was not intended to be used this way. In fact, I'm working also on a `liana

[2022-06-07 14:24] austinv11 commented on #39
Great, thanks for investigating this! I will keep your suggestions in mind.

Looking forward to the update!

[2022-06-10 02:54] absrmzhr opened #40 "Error in loading LIANA"
After installation and updating all the packages
I get the following errors..... please help

Warning message:
In mget(objectNames, envir = ns, inherits = TRUE) :
  internal error -3 in R_decompress1

Warning in namespaceImportFrom(ns, loadNamespace(j <- i[[1L]], c(lib.loc,  :
  restarting interrupted promise evaluation
Warning in namespaceImportFrom(ns, loadNamespace(j <- i[[1L]], c(lib.loc,  :

[2022-06-10 03:15] #40 closed

[2022-06-13 02:18] bitcometz opened #41 "Docker version of liana"
Hello，

Could you provide  a version of liana?
I found it very good software, but it is difficult to install.

Best

[2022-06-13 07:08] dbdimitrov commented on #41
Thanks @bitcometz,

Do you refer to LIANA's R package, or the development version (https://saezlab.github.io/liana/articles/liana_devel.html)?

[2022-06-17 19:54] austinv11 commented on #39
Hey @dbdimitrov

I appreciate you looking into this. However, I should note that even with the filtering there are still lots of 0s (over 1,000) for my data which makes it difficult to interpret the cpdb results (which is important for me since for my work I need to compare each of the method outputs individually).  Particularly since I am trying to look at the top N predicted interactions with N

[2022-06-17 21:27] dbdimitrov commented on #39
Hi @austinv11,

Indeed, I had the same issue when I tried to compare CellChat and CPDB to the remainder of the methods in liana's manuscript. So, as a compromise I used prob/lr_mean after filtering p-values <= 0.05. So, inded in the end I basically used it to break the ties of 0s.

[2022-06-17 21:54] austinv11 commented on #39
Great, thanks for the info! Feel free to close this issue.

[2022-06-18 06:03] #39 closed

[2022-06-21 14:40] dbdimitrov opened #42 "CCC strength between cell pairs on non-specific aggregate + magnitude"
Extend the Chord diagram /w communication strength on e.g. `LRscore` following filtering by `aggregate_rank`.

[2022-06-27 01:56] bitcometz commented on #41
Thanks ！！！
It is a great software ！！！

[2022-06-27 12:41] EJCresswell opened #43 "Dependencies"
Hi- I'm trying to install Liana into R, but I keep getting the message that it can't be installed because I can't install one of the dependencies which is now outdated and doesn't work with the latest version of R. Do you have any suggestions on how to fix this? Many thanks

Warning in install.packages :
  package ‘RobustRankAggreg’ is not available for this version of R

[2022-06-27 22:21] MarcElosua opened #44 "L-R not shown"
Hi Liana developer!

Thank you so much for developing such an amazing tool, it really makes LR analyses so much easier!!
I have one question regarding the output that I can't seem to figure out.

In my dataset I have a celltype were 93% of the cells express Cxcr2 with a mean expression of Cxcr2 2.64 and another cell type that is expressing Cxcl1 in 65% of the cells with a mean expression of 0.98.

[2022-06-28 05:14] dbdimitrov commented on #44
Hi @MarcElosua,

That's odd. Could you please share a subset of your data?

It would easier if I just check if the problem persists on my side, and if so to have a way to trace it down.

Thanks.

Daniel

[2022-06-28 06:48] dbdimitrov commented on #43
Hi @EJCresswell,

I believe it might be because they removed the package recently from CRAN.
https://cran.r-project.org/web/packages/RobustRankAggreg/index.html

Could you try installing it from here:
https://cran.r-project.org/src/contrib/Archive/RobustRankAggreg/

I will simply re-implement the algorithm in LIANA's next update and exclude it from the dependencies.

Let me know if that works.

[2022-06-28 08:55] EJCresswell commented on #43
Hi- I tried this yesterday and it didn't work. Since updating my R and re-trying today, it seems to have worked ok. Thanks for the help :)

[2022-06-28 14:56] MarcElosua commented on #44
Hi @dbdimitrov,

Thank you so much for the quick response! Which is the best way to get it to you?

Thanks,
Marc

[2022-06-29 08:28] dbdimitrov commented on #44
Hey @MarcElosua,

I tried running that data that you provided and I see both `Cxcr2` and `Cxcr1`. Maybe I'm not understanding the issue?
Or perhaps somehow the problem got solved by subsetting?

Also, do you have only 2 cell types?

Daniel

[code]

Results:
[code]

[2022-06-30 07:11] dbdimitrov commented on #44
@MarcElosua

No worries. Please not that if you have only two cell types, it might be better to use the score from `sca` alone, than the aggregated ranks :)

[2022-06-30 20:28] dbdimitrov commented on #44
Hi @MarcElosua,

Well, because by default `liana_aggregate` will aggregate scores such as the permutatipns p-value from CellPhoneDb and NATMI's Edge specificity, both of which try to prioritise interactions between multiple cell types.

You could use `liana_aggregate` with the `.housekeep_scores` function as a way to aggregate the 'housekeeping" score for each method. These scores don't prioritise

[2022-07-01 12:24] dbdimitrov commented on #41
Hey @bitcometz,

LIANA is now available at dockerhub, along other lab toos, under tanevski/saezverse (https://hub.docker.com/u/tanevski).

Hope that helps!

Daniel

[2022-07-04 01:35] bitcometz commented on #41
Great ！！！

[2022-07-04 01:35] #41 closed

[2022-07-04 14:54] dbdimitrov commented on #44
Hi @MarcElosua,

I also updated LIANA's homology conversion in last update.

I made it much more flexible and explicit. It is also now dependent entirely on OmniPathR and does not require Biomart, etc.

Best,
Daniel

[2022-07-05 08:47] dbdimitrov commented on #43
I have now re-implemented RRA and the issue should be resolved.

Feel free to re-open in case of any issues.

[2022-07-05 08:47] #43 closed

[2022-07-05 17:23] dbdimitrov commented on #32
Hi @EJCresswell,

I have now implemented 2 ways of doing between condition comparisons, but we are still testing them. We really want to understand how to best approach this issue before I push.

Hopefully will do so soon. It's the next planned update for liana.

Daniel

[2022-07-06 12:19] EJCresswell commented on #32
Great- could you leave a comment on here when it's updated so that I get notified of the release? Thanks so much- looking forward to it! :)

[2022-07-08 14:52] MarcElosua commented on #44
Thank you so much for the follow up! This is amazing!! Thank you for putting this package together!

[2022-07-11 07:52] ebasto opened #45 "Interpretation of Odds Ratio"
High, I have a question about the interpretation of Odds Ratio, not exactly code but maybe this is a good place to ask. The LIANA publication says

"Notably, a high agreement with cytokine activities was observed for CellChat and CellPhoneDB in the HER2 + dataset, when considering all of their predictions subsequent to false-positive filtering (vertical line in Fig. 6A), highlighting the value of

[2022-07-11 11:20] dbdimitrov commented on #45
Hi @ebasto,

I believe my idea here is that when you consider all interactions after filtering (vertical lines), both methods perform better than random.

I calculate odds rations as 1:100, 1:250, 1:1000 - idea being that the lower they go the signal usually disappears (as seen for the other methods). CellChat and CellPhoneDB are exceptions in the sense that neither method's "mean" score is intend

[2022-07-14 16:18] mimisikai opened #46 "Error in method(object) : all assays must have the same nrow and ncol"
I'm using my Seurat object data for liana_wrap function, but return the error: Expression from the `integrated` assay will be used
Running LIANA with `colLabels`/`Idents` as labels (matching column in metadata not found).
Error in method(object) : all assays must have the same nrow and ncol

The bug infor is quite limited, I don't sure how to troubleshoot this problem. is that sort of problem with

[2022-07-14 16:58] dbdimitrov commented on #46
I assume the issue is exactly what the error says. That your data and counts matrices are of different size.

Worth double checking. Let me know if this is not the case. I can test with a subset of your data.

[2022-07-14 17:21] dbdimitrov commented on #46
You should be able to change the assay to SCT, and if you set the RNA to Null, it should work.

However, you should have the SCT-corrected counts in data and raw counts in counts. Can't remember how Seurat structured the SCT assay, if this is not the case 🤔

[2022-07-18 12:15] #45 closed

[2022-07-18 14:09] dbdimitrov commented on #32
Hi @EJCresswell

please try this command:
`remotes::install_github("saezlab/liana", ref="liana_1.0")` :)

[2022-07-18 14:37] EJCresswell commented on #32
Hi -thanks this has worked, but it's having other problems installing now

* installing *source* package 'liana' ...
** using staged installation
Warning in system("sh ./configure.win") : 'sh' not found
ERROR: configuration failed for package 'liana'

[2022-07-18 14:51] dbdimitrov commented on #32
If this is the issue you should also see `RTools (...) is not currently installed` in the R terminal output as the package installs

[2022-07-18 15:16] EJCresswell commented on #32
I've managed to install it now. Still getting error messages when trying to run the liana_bysample function though:

Error in `[[<-`(`*tmp*`, name, value = integer(0)) :
  0 elements in value to replace 54708 elements

[2022-07-18 15:22] dbdimitrov commented on #32
OK. Odd works just fine on my end (it's a loop that calls `liana_wrap`).

Could you please restart your r_session?

Just to make sure it's not some other package interfering and send me the session_info for me to try to reproduce the issue.

[2022-07-18 20:52] yjgeno commented on #28
Hi @dbdimitrov thanks for your comments earlier this year
I was wondering if LIANA can output the raw ranking list of L-R pairs without any thresholding
Is there any hyperparameter I could change to achieve that?

[2022-07-19 06:42] dbdimitrov commented on #28
For the internal methods of LIANA, if you set `expr_prop` to 0 then all interactions will be returned.

[2022-07-19 13:06] EJCresswell commented on #32
I've tried restarting the session and the code isn't working on my data still unfortunately

[2022-07-21 15:18] enblacar opened #47 "Specificity and magnitude columns across methods."
Hi Liana developers,

First of all, thanks for providing such an amazing package! The fact that one can run different Ligand-Receptor on the go and retrieve everything nicely packed in a long-format tibble is priceless!

I would like to make use of the package for custom visualization purposes, and I am wondering which columns from the different experiments are the ones that point to the specifici

[2022-07-22 12:35] dbdimitrov commented on #47
Hi Enrique,

The package looks very cool. Overall, if I could suggest anything would be to maybe just stick to the `liana_aggregate` output. Really then the user can pick how to best approach the results. 1) You can filter by CellPhoneDB p-value or the aggregate_rank probabilities, 2) Rank interactions by magnitude /w NATMI's edge weights, 3) Use LRscores for magnitude as they are easy to intepret

[2022-07-22 13:05] enblacar commented on #47
Hi Daniel,

Thanks for the feedback!  I will work on it based on your suggestions.

Best,
Enrique

[2022-07-22 14:20] #47 closed

[2022-07-26 04:36] akiss-me opened #48 "chord_freq plot question"
Hello,

Thanks for this useful tool! Your approach to making an aggregation tool is quite helpful.

Is it possible to show linked ligand-receptor names in chord_freq plot?

Thank you.

[2022-07-26 06:41] dbdimitrov commented on #48
Hi @akiss-me,

Thanks for using liana.

I'm not sure if it would be feasible due to the large number of interactions typically summarized by the chord diagram.

[2022-07-26 15:53] akiss-me commented on #48
Hi @dbdimitrov, thank you for the reply,
in the example now are only 25 interactions, it's not so much to indicate the ligand-receptor name. It could be helpful to have such an option. I found the example in nichenet manual https://github.com/saeyslab/nichenetr/blob/master/vignettes/circos.md

[2022-07-26 16:26] dbdimitrov commented on #48
Hi @akiss-me,

Yeah fair point, this would require some modifications to my current function, in the direction of showing magnitude instead of frequency. I do have a magnitude-focused chord diagram on my to-do list, so I could give this a shot.

I know that @enblacar is also working on a visualization package that would include LIANA's output, so perhaps this is something of interest? :)

Daniel

[2022-07-26 16:59] akiss-me commented on #48
Hi @dbdimitrov, thank you for the reply, I do not want to repeat it, but Liana is the most easy-to-use CCC tool that I tried, and the idea of aggregation of published and famous tools is brilliant! I hope, that Liana becomes the standard of CCC.
I will wait for the update.  Thank you for the link to @enblacar work, it's looks also great, I will try to use SCpubr.
Yes, this is very interesting to u

[2022-07-28 13:54] dbdimitrov commented on #48
Thanks @akiss-me :)

[2022-08-11 06:22] dbdimitrov commented on #32
Please note that I have now moved these changes to the `dev` branch and updated my comments respectively.

[2022-08-11 18:38] dbdimitrov commented on #47
Hey @enblacar,

Check out the `rank_method` function :)

[2022-08-13 10:36] enblacar commented on #47
Hi @dbdimitrov

Thanks a lot for implementing the function!

In my use case, I ended up expecting a consensus liana object from the user, and then analyzed the data as you suggested in the comments above. `rank_mehtod` looks really cool! For what I have seen, it generates a ranking based on "specificity" or "magnitude" for the desired individual methods. That will definitely help with the processi

[2022-08-14 13:24] dbdimitrov commented on #47
Hi @enblacar,

These are all points that I've also thought in the past. I see nothing stopping anyone doing the 1st point, but I'd prefer to keep them separate in LIANA (I think it's already a bit confusing /w all the methods).

Your second point makes a lot of sense - my only cocern is the same as /w the point above. I will indeed try to implement `liana_aggregate` to do specificity or magnitude

[2022-08-17 18:07] mschmidt22 opened #49 "liana_dotplot magnitude and specificity argument syntax"
I am attempting to set my own scaling values for the liana_dotplot. Thus, I am entering the values I want into the magnitude and specificity arguments

liana_adult_signaling %>%
  liana_dotplot(source_groups = c('Fibroblast'),
                target_groups = c('Beta'),
                ntop = 10, magnitude  = 1, specificity = 0.2)

However, I get the following error. Thus, can you please explain th

[2022-08-17 18:23] mschmidt22 commented on #49
I am now realizing that the magnitude and specificity arguments are supplying data for the graph and not scaling the legend. I imagine this is something I will have to do with ggplot

[2022-08-17 18:34] dbdimitrov commented on #49
@mschubert indeed! If you wish to scale the dotsizes, you can pass a vector with those to `size_range`-  c(2, 10) by default.

[2022-08-18 10:47] c-felton opened #50 "Filtering for secreted ligands"
Hi,

I was wondering if there was a way to break results down into secreted ligands, cell-cell interactions and ECM-cell interactions?

Many thanks,
Cath

[2022-08-18 11:43] dbdimitrov commented on #50
Hi @c-felton,

There is yes, I touch on how one could create a resource /w only membrane-bound interactions here:
https://saezlab.github.io/liana/articles/liana_custom_op.html

So, with a few lines one could filter LIANA's results to only membrane-bound interactions.

Hope this helps! :)

[2022-08-22 07:37] #50 closed

[2022-08-22 07:37] #49 closed

[2022-08-26 10:46] c-felton commented on #50
Thanks, this is really helpful. I can see how I could do this :)

[2022-08-30 19:35] mimisikai opened #51 "Bad credentials"
This is what I got when installing:

Using github PAT from envvar GITHUB_PAT
Error: Failed to install 'liana' from GitHub:
  HTTP error 401.
  Bad credentials

  Rate limit remaining: 58/60
  Rate limit reset at: 2022-08-30 20:34:12 UTC

[2022-08-31 07:17] dbdimitrov commented on #51
@mimisikai https://github.com/r-lib/devtools/issues/1566

[2022-08-31 14:12] JanLeipzig opened #52 "CellphoneDB v4"
Hi,

CellphoneDB recently released version v4 of its database and I was wondering if it will be included into the consensus resource of LIANA anytime soon.
I'm very interested in the "non-peptidic molecules (i.e., not encoded by a gene) acting as ligands. Examples of these include steroid hormones (e.g., estrogen)." As far as I could tell there are no steroid hormones included in the consensus res

[2022-08-31 15:33] dbdimitrov commented on #52
Hi @JanLeipzig,

Indeed that's a good point. I have actually written a version of LIANA specifically for metabolite-receptor interactions, inspired by [MEBOCOST](https://www.biorxiv.org/content/10.1101/2022.05.30.494067v1.abstract). However, before I push it into the main branch, I wanted to wait a bit for the authors to possibly refine the method and to also get a better feeling of it myself. We

[2022-09-01 15:43] dbdimitrov commented on #51
@mimisikai did trying this resolve the issue?

[2022-09-01 15:49] mimisikai commented on #51
Yes. Thanks!

[2022-09-01 15:57] #51 closed

[2022-09-07 06:26] bitcometz opened #53 "Can liana do the analysis for Spatial Transcriptomics data？"
Hello，thanks for this great software.

Can I use liana to do the analysis for Spatial Transcriptomics data？

Could you give some suggestions ?

Thanks !!!

[2022-09-07 08:04] dbdimitrov commented on #53
Hey @bitcometz,

Yes, you could. Any type of transcriptomics data would work as long as it comes with annotated cells/spots.

However, if you wish to make full use of spatial information I would recommend checking out misty 😊 or perhaps Giotto's spatCellCellcom as a simpler option.

[2022-09-07 08:12] bitcometz commented on #53
thanks ！！！

[2022-09-07 08:12] #53 closed

[2022-09-10 09:33] AltayYuzeir commented on #48
Hello friends. I am really happy to see there is a package which can summarize all the best packages for CCC out there. Thank you for the awesome work you are doing :). I was wondering if there are plans for the future for the circus plot to look like something like the circus plot from [CellTalkeR](https://github.com/arc85/celltalker) package. I find this representation very useful. Thank you and

[2022-09-11 11:04] dbdimitrov opened #54 "Using LIANA /w CellChatDB murine resource"
I'm opening issue this to address an e-mail request, but I assume the topic is likely broadly of interest.

LIANA and OmniPath work with human databases by default.
However, one could use LIANA /w any database - e.g. CellChat's murine database.

See example below

[code]

[2022-09-11 11:05] dbdimitrov commented on #54
Alternatively, one could simply convert any of LIANA's resources to murine orthologs following the tutorial here:
https://saezlab.github.io/liana/articles/liana_ortho.html

[2022-09-12 07:26] dbdimitrov commented on #48
Hi @AltayYuzeir,

Thanks for your interest in LIANA. Thanks for the suggestion, I will certainly consider it in future updates to LIANA :)

Daniel

[2022-09-13 20:55] #54 closed

[2022-09-20 09:39] enblacar commented on #48
Hi @dbdimitrov @akiss-me,

Sorry for the late reply!

Thanks for linking to and checking out my package! I am currently working on implementing sankey plots and chord diagrams on **SCpubr**. Once I have that set up, I also think it would be interesting implementing them with liana's output allowing frequency or magnitude to be displayed.

However, I am currently a bit short on time, so this might

[2022-09-20 16:17] rachel662 opened #55 "weird error"
Hi there
I am trying to run Liana and I get this error

`Expression from the `originalexp` assay will be used
Running LIANA with `colLabels`/`Idents` as labels (matching column in metadata not found).`

would you be able to help with this at all?
thanks
Rachel

[2022-09-20 16:38] dbdimitrov commented on #55
Hi @rachel662,

Is it an error or just a warning/message? :)

I print `labels (matching column in metadata not found)` when the Idents(seurat) are not found in any of the columns in the metadata.

[2022-09-21 07:00] rachel662 commented on #55
Hi there,
I think in this case should i make a column in the metadata the Idents? Would that solve this warning error as currently it hasn't worked correctly

[2022-09-21 07:00] rachel662 commented on #55
thanks for your help on this also

[2022-09-21 07:27] dbdimitrov commented on #55
So there might be something else that is causing an error

[2022-09-21 09:48] rachel662 commented on #55
Hi there,
the idents currently aren't the cell type annotations which is why I think it hasn't worked properly? but if I make the column in the metadata that has the cell type in it the idents do you think it would solve the issue? (sorry I don't think i was clear in my last comment)
cheers,
Rachel

[2022-09-21 10:21] dbdimitrov commented on #55
Hi @rachel662,

I believe so, yes. :)

You can either reset Idents, or alternatively pass the name of the idents column that you wish to use via the `idents_col` param.

Hope that helps.
Daniel

[2022-09-21 17:23] rachel662 commented on #55
Hi
I have successfully made the Idents a column in my metadata but I still get this warning
`Expression from the `originalexp` assay will be used
Running LIANA with `colLabels`/`Idents` as labels (matching column in metadata not found).`

Do you know why I get it? I have tried to make sure that the active.idents slot is copied from the metadata column with my cell type annotations?

Cheers,
Rachel

[2022-09-21 17:45] rachel662 commented on #55
For some more context in case that's helpful when I get the table at the end, I get these as ligand complexes and receptor complexes
![image](https://user-images.githubusercontent.com/63318678/191574586-0bcab777-9735-4a46-8e84-812a49c079c3.png)

thanks so much for your help again,
Rachel

[2022-09-21 17:50] rachel662 commented on #55
and when I run the dot plot command I get this error
`liana_dotplot(source_groups = c("F"),target_groups = c("M"),ntop = 20)
Error in `combine_vars()`:`

Do you know why this might be happening?

Cheers,
Rachel

[2022-09-21 20:10] dbdimitrov commented on #55
Hmmm,

Are you by any chance using non-human data?
If yes, there is a tutorial on how to convert liana's resource to other model organisms :)

Regarding the metadata column - maybe if you have it in your metadata it's better to just specify the name of the column.

Daniel

[2022-09-22 09:51] fbnrst opened #56 "installation error related to Cairo"
`remotes::install_github('saezlab/liana')` did not work for me. I get the following error at the end:

[code]

This is the full ouput:

[code]

[2022-09-22 12:58] dbdimitrov commented on #56
Hi @fbnrst,

I believe I have already seen this issue.
Maybe try installing cairo via conda/mamba:
` conda install -c conda-forge r-cairo `

Let me know if this works.

Daniel

[2022-09-22 14:30] rachel662 commented on #55
Hi there,
I successfully managed to run LIANA but it came up with this error?
I was using mouse mgi gene names but converted to mouse hgnc

`Error: cannot allocate vector of size 479 Kb`

would you be able to help me with this at all?

thanks again,
Rachel

[2022-09-22 14:58] BenjaminDEMAILLE opened #57 "Parallelization"
Good morning !
it's it possible to paralelnize the` liana_wrap() ` function ?
thanks in advance !

[2022-09-22 15:00] dbdimitrov commented on #57
Hi @BenjaminDEMAILLE,

Only liana's permutations can be parallelized. Though it comes at the cost of higher RAM usage.

[2022-09-22 15:04] dbdimitrov commented on #55
Hi @rachel662,

Hmmm, now this is a weird error 🤣

If you send me a subset of your data, I can check on my pc.

Daniel.dimitrov@uni-heidelberg.de

Best wishes,

Daniel

[2022-09-22 16:35] rachel662 commented on #55
Hi Daniel,
thanks, i can try to do that yes, from looking it up it seems like it's a memory error?
and I need to allocate more memory to my Rstudio?

Cheers,
Rachel

[2022-09-22 17:20] dbdimitrov commented on #55
Hi @rachel662,

I find it unlikely that 400Kb would be an issue. 🤔

[2022-09-23 08:11] rachel662 commented on #55
Hi there

I think it was a memory issue as I allocated loads of memory to R and left it running overnight and it seems to have successfully run

however when plotting the graphs using the liana_dotplot function I get this error?

Error in `combine_vars()`:
! Faceting variables must have at least one value
Run `rlang::last_error()` to see where the error occurred

do you know why this might be?
tha

[2022-09-23 12:29] dbdimitrov commented on #55
Hi @rachel662,

Maybe it would be easier if you can share the code and the output of liana :)

[2022-09-24 07:59] YYYYYWWWYYYYYY opened #58 "Something error when qsub tasks in linux"
Hi there
When I qsub R script  in linux, it always pointed out Error and could not allocate vector of size XXX Mb.
However, It's ok when I run this script in jupyter.
How should I write liana script and qsub it in linix avoiding similar errors?
Thanks in advance!

[2022-09-24 09:09] dbdimitrov commented on #58
Hi @YYYYYWWWYYYYYY,

If liana works on the same environment in Jupyer, I would say its likely that you need to request more ram on your cluster.

I previously have ran LIANA via qsub and on slurm.

[2022-09-26 07:33] dbdimitrov commented on #58
A source of the issue might be incompatibilities of your BioC SingleCellExperiment-related packages, so I would recommend updating scater/scuttle and SCE to their latest possible update for your R version :)

[2022-09-28 12:19] fbnrst commented on #56
Thanks for the quick response @dbdimitrov.  `r-cairo` was already installed via conda.

I tried to install `liana` again. I created a new conda environment, then manually installed those packages:

[code]

and then, I did run `remotes::install_github('saezlab/liana')`. This worked.

The error I report above appears, if I try to install `liana` in a singularity container that I use for single cell

[2022-09-28 12:27] fbnrst opened #59 "How to do Differential CCC analysis?"
I am wondering whether and how differential cell-cell communication (CCC) analysis could be performed with LIANA. I imagine the following situation. I have a single cell RNAseq dataset for two conditions (e.g. control and treatment) and the same cell types are present in both conditions. Cell type composition and transcriptomic state are slightly different for both conditions. For simplicity, let

[2022-09-28 12:45] rishilpatel77 opened #60 "Issues with Visium Dataset"
Hi,

We wanted to perform LIANA to look at the cell-cell communications from our spatial trancriptomics dataset, but I've ran into some trouble. Is it feasible to use LIANA for a Seurat Object using Visium? It seems like the code is mainly geared toward single-cell. Additionally, I tried running liana_wrap and ended up having all of the different slots in the object be NULL. I later tried liana_pi

[2022-09-28 13:12] dbdimitrov commented on #56
Hmmmm,

Maybe it's indeed a conflict, or perhaps cairo is not properly installed?
Have you tried loading cairo? I would double check (I saw it your yaml, but maybe something went wrong /w conda).

A docker image /w other tools from the lab, incl. liana is available in case docker is supported on your cluster:
https://github.com/saezlab/saezverse

Hope this helps.

[2022-09-28 13:16] dbdimitrov commented on #60
Hi @rishilpatel77,

Indeed, you could run Visium via LIANA.

 If you are using Seurat, I assume you used, SCT normalization, so I would double check if you have set `assay="SCT"` - as this would be the one that you want to pass.

I'm not sure what you mean, sharing how you run liana and how the the object looks would help me debug a bit better.

I should also mention that in visium you will have c

[2022-09-28 13:25] dbdimitrov commented on #59
Hi @fbnrst,

I have answered this in some detail here:
https://github.com/saezlab/liana/issues/32

In short, I am working on extending LIANA to a number of ways to do differential CCC.
However, it's also plausible to use LIANA at it's current state for DCCC.

For example, if you run liana per sample, you could then easily do differential CCC /w e.g. simple wilcoxon between conditions on LRscores (

[2022-09-29 10:59] fbnrst commented on #59
Thanks a lot for the suggestions and for the link to #32, I really appreciate this.!

[2022-09-29 10:59] #59 closed

[2022-09-29 11:10] fbnrst commented on #56
Thanks again, this helps in multiple ways!

First, loading cairo fails:
[code]
So the problem is upstream and I know what to fix first.

Second, thanks for pointing at the saezverse docker container. I didn't know about this, it looks really cool.

[2022-10-02 07:30] enblacar commented on #48
Hi @dbdimitrov and @akiss-me,

I was able to work on my package and believe I arrived to a suitable [solution](https://enblacar.github.io/SCpubr-book/ligand-receptor-analysis.html#compute-chord-diagrams-of-the-interactions). In it, you can compute two kind of ChordDiagram plots:
- One that shows the total amount of significant interactions between each pair of clusters.
- One that shows the number

[2022-10-02 08:03] dbdimitrov commented on #48
Hi Enrique,

Looks amazing!

Regards,
Daniel

[2022-10-02 08:12] dbdimitrov commented on #48
One suggestion would be that for the LR doplot, instead of filtering to only 'top hits':
https://github.com/enblacar/SCpubr/blob/4a6033aa9171c7b4ad4ca8ec60dbd97f19f6cd38/R/do_LigandReceptorPlot.R#L170

I would instead filter to obtain 'relevant'/top-ranked interactions, then I would inner join to the dataframe with all LR predictions - in order to keep all relevant source-target combinations for t

[2022-10-04 08:19] enblacar commented on #48
Hi @dbdimitrov,

Thanks a lot for considering suggesting SCpubr! It is a real honor!

I was indeed not happy about the missing non-significant interactions, so I was really happy to implement your fix. While many new columns showed up in the dotplot as a result of this, there were some missing, this being the case of specific source-target combinations that had not a single interaction in the `top

[2022-10-07 12:50] enblacar opened #61 "Running `liana::liana_aggregate()` on a multi-method output produces a byproduct `omnipath-log` folder in the current working environment."
Hi @dbdimitrov,

I would like to point out a behaviour I have experienced with liana, that I was able to pinpoint the source recently.

Every time I run `liana::liana_aggregate()`, in my case in a multi-method output, this produces a folder called `omnipath-log` in my current working environment. Is this an intended behaviour? If so, is there a parameter that handles where this folder is created?

[2022-10-07 13:23] deeenes commented on #61
To disable `OmnipathR` logging into a file just make sure the option `omnipath.logfile` is `"none"`. You can add the lines below to the file `./omnipathr.yml` or `~/.conf/OmnipathR/omnipathr.yml`:

[code]

Or set the following shell variable:

[code]

[2022-10-07 18:02] dbdimitrov commented on #61
Hi @enblacar,

Thanks for pointing this out.

Indeed. At this stage, it's just a left-over from the benchmark. I will likely just remove the logger in the next update.

Best wishes,

Daniel

[2022-10-08 21:24] enblacar commented on #61
Hi @deeenes, @dbdimitrov,

The options suggested worked great, thanks!

Best,
Enrique

[2022-10-08 21:24] #61 closed

[2022-10-09 09:46] AltayYuzeir opened #62 "CellPhoneDB cannot finish running"
Hello
I have been experiencing some issue with the CellPhoneDB method in liana_wrap() function. It took around 2 hours to come to 100% where it got stuck for more than an hour now and does not move forward with calculating the next method. I will include a screenshot. All other methods were successfully calculated, including external ones, such as call_cellchat. I have done a conversion to mouse,

[2022-10-10 06:40] dbdimitrov commented on #62
Hi @AltayYuzeir,

Your code looks good.

Might be worth it to check how your cell types are called - i.e. do they have symbols that might be an issue. I assume since the permutations calculation goes through, the next step is a series of joins (where I assume your problem comes up).

You could also lower the number of permutations to check if this would resolve your issue by adding the following p

[2022-10-10 07:06] AltayYuzeir commented on #62
Yes, that did it, the computation time also has dropped just to only 20 minutes

[2022-10-10 07:06] #62 closed

[2022-10-11 06:15] #60 closed

[2022-10-11 06:15] #57 closed

[2022-10-11 06:15] #58 closed

[2022-10-11 06:15] #56 closed

[2022-10-11 06:15] #55 closed

[2022-10-11 07:55] fbnrst commented on #56
I solved it by downgrading cairo from 1.6 to 1.5 in my conda envrionment. Thanks again!

[2022-10-11 07:57] AltayYuzeir opened #63 "Error in "auto_copy()""
Hello,
I have created a working LIANA pipeline, and now I try to run it using a new dataset.
I get an error in auto_copy() from liana_wrap(), see the image below. This seurat file was v2, so I ran UpdateSeuratObject function, if that is relevant.

![liana](https://user-images.githubusercontent.com/34285813/195031667-3bcd03ae-b194-4b78-8775-0409db7501dd.jpeg)

[2022-10-11 10:20] alhadjil opened #64 "LIANA for bulk RNA seq?"
Hi,

thanks for this nice package, which works smoothly on scRNASeq datasets. Is it possible to use LIANA for two (or more) bulk RNASeq datasets for CCC?

Thanks!

[2022-10-11 14:36] deeenes commented on #56
Have you tried to address the original error?

To install [the package](https://anaconda.org/conda-forge/icu) that provides the missing file?

[2022-10-11 15:15] fbnrst commented on #56
No, I didn't try that. I can try it out, if you would like to know whether this works. Just let me know. For now, I'm good with the current workaround.

[2022-10-12 06:10] dbdimitrov commented on #64
Hi @alhadjil,

Thanks. LIANA does not currently support bulk RNA-seq.

An easy way to apply it to bulk would be to use the stats from your DE contrasts join them to known LR interactions (coming e.g. from LIANA's databases), and simply calculate a mean between a ligand and receptor.

Daniel

[2022-10-12 06:12] dbdimitrov commented on #63
Hi @AltayYuzeir,

I have not encountered this error, and I don't explicitly call auto_copy() - it's internal meaning that likely a join is failing at some point.

I see that liana does not find any matching columns in the metadata to your `Idents()`, I would suggest to double check those.

[2022-10-12 06:12] dbdimitrov commented on #63
If provided with a subset of your data, I could try to reproduce and resolve the error.

[2022-10-12 06:40] AltayYuzeir commented on #63
Good morning,

Thank you for taking the time to sort this out! I really appreciate it. I set the Idents with the Idents() function and the "celltype" column in the meta data. Here is a donwsampled data.
https://uni-bonn.sciebo.de/s/htrz2HJoafOClom

[2022-10-13 09:25] dbdimitrov commented on #52
@deeenes I assume updating to CellPhoneDBv4 should be just a matter of changing the source url to https://github.com/ventolab/CellphoneDB-data.

Also, if I remember correctly from Luz, they have now dealt with the ambiguity of partner_a and partner_b.

Another difference now is that they also add small molecules that are thought to have specific interactions with a given receptor.

[2022-10-13 10:09] deeenes commented on #52
Cool, @dbdimitrov you can transfer this issue to `pypath`, I will take a look soon :)

[2022-10-13 19:13] #64 closed

[2022-10-13 19:15] dbdimitrov commented on #48
This issue is now covered by SCpubr and I refer to it in the tutorial.

[2022-10-13 19:15] #48 closed

[2022-10-14 14:08] dbdimitrov commented on #63
Hi @AltayYuzeir,

I was able to run your data with the following code:

[code]

I would suggest updating liana to the latest version (0.1.7) and the giving a short the data when you pass the column explicitly via `idents_col`.

The error that you encounter comes from the dplyr package, so perhaps updating it also is a good idea.

[2022-10-14 14:44] AltayYuzeir commented on #63
Thank you for looking into the matter! The code you have provided indeed runs.
In my case, I use external resource of a mouse, using your Orthology Conversion tutorial.
In this case, I get the same error about auto_copy(). My Dplyr is up-to-date.

![error](https://user-images.githubusercontent.com/34285813/195873732-891c81ea-43a3-45e5-9a46-44cc8e9f319c.jpeg)

[2022-10-16 08:51] dbdimitrov commented on #63
Hey @AltayYuzeir,

I did also try it with the orthologous resource. Perhaps, the downsampling gets rid of the exception as I was not able to reproduce it.

[2022-10-16 12:09] deeenes commented on #63
I think most likely one of the objects to join has unsuitable type or some other weird stuff such as row names. Maybe you could try to convert `ortholog_resource` to `tibble` or `data.frame` (even if it already has that class). If that doesn't help, you should look at the object on the other side.

[2022-10-17 05:34] dbdimitrov commented on #63
Hi @AltayYuzeir,

The issue was coming from NAs in the cell labels. For example, running with the "cluster" works. I have added a check in LIANA that will throw an exception when NAs are detected in cell labels.

However, I leave it up to the user (you) to decide how to deal with those in their data.

Daniel

[2022-10-17 08:07] AltayYuzeir commented on #63
That did it! Thank you for your efforts! I will keep this issue in mind going forward. I am closing the issue now.

[2022-10-17 08:07] #63 closed

[2022-10-20 09:29] BenjaminDEMAILLE opened #65 "rlang invoke deprecated"
Hi !
I got this message. Maybe in the next version update the rlang usage ?
 ```Avis : `invoke()` is deprecated as of rlang 0.4.0.
Please use `exec()` or `inject()` instead.```

thanks in advance

R 4.2.1
liana : 0.1.6

[2022-10-21 18:37] #65 closed

[2022-10-22 07:43] AltayYuzeir opened #66 "Integrated Cytotalk method error: non-numeric argument to numeric function"
Hello,
I have been working with this Seurat data file, included in the link, it is not very big - https://uni-bonn.sciebo.de/f/1980218563.
I have run it through the liana_wrap() function, and all integrated methods (natmi, sca, cellphonedb, logfc, connectome) work, but when I run it with the integrated cellchat method, I get an error, which I cannot understand.

![error](https://user-images.github

[2022-10-22 09:35] BenjaminDEMAILLE commented on #65
Thanks.
What's will happen if rlang delete this function in a next version ?

[2022-10-22 09:40] dbdimitrov commented on #65
I would then replace it with something like this:
https://stackoverflow.com/questions/60678764/now-that-invoke-is-soft-deprecated-whats-the-alternative

[2022-10-31 17:56] dbdimitrov commented on #66
Hey @AltayYuzeir,

I'll try to find some time this week to check this and come back to you.
Must say though that I would suggest on focusing on the aggregate from the remainder of the methods.

Best regards,
Daniel

[2022-11-08 09:23] Smilenone commented on #66
I also met the same error.

[2022-11-08 13:05] dbdimitrov commented on #66
Hi @AltayYuzeir,

I've been trying to access the file, but I keep getting the same message, and sciebo seems to work otherwise:
![image](https://user-images.githubusercontent.com/50865230/200572407-aa81d719-45c0-42cf-9834-ec07f5d76232.png)

[2022-11-08 13:09] AltayYuzeir commented on #66
hey, So i think our university client sciebo uni-bonn.sciebo.de is undergoing maintenance

[2022-11-09 06:15] AltayYuzeir commented on #66
The original link is working now

[2022-11-09 13:30] AIBio opened #68 ""call_cellchat" meet a error"
Hi,

**I wanted to apply "call_cellchat" method to run example data you provided in tutorial.**
**But I had a problem. Here is the output during running liana_wrap:**

Create a CellChat object from a data matrix
Set cell identities for the new CellChat object
The cell groups used for CellChat analysis are  B CD8 T NK
New names:
• `"is_directed"` -> `.is_directed.`
• `"is_stimulation"` -> `.is_stim

[2022-11-10 12:12] dbdimitrov commented on #68
Hi @AIBio,

The reason it crashes is that 'call_cellchat' is not a resource.
Also, to use the `call_` methods I would suggest checking this vignette:
https://saezlab.github.io/liana/articles/liana_devel.html

Though I would recommended just sticking to the ones re-implemented in liana (i.e. without `call_` prefix, and you could additionally add `call_cellchat` to thos).

Hope this helps.
Daniel

[2022-11-10 12:12] dbdimitrov commented on #66
Hi @AltayYuzeir not for me, it requires a username and password

[2022-11-10 12:19] AltayYuzeir commented on #66
try this one https://uni-bonn.sciebo.de/s/7QhKl6XbYLyusR8

[2022-11-10 15:20] dbdimitrov commented on #66
Hi @AltayYuzeir,

I noticed that you have cell types with 1 cell and this is what was breaking CytoTalk's crosstalk scores.
Although, the other methods would run regardless of this, I would still advise not to infer interactions for cell types with less than 5-10 cells.

To liana's latest version, I added a parameter to `liana_wrap` that will automatically remove any such cell types.

Hope this he

[2022-11-10 15:50] AltayYuzeir commented on #66
I see, thanks for looking into this. I want to ask about few things about the general concepts behind liana.
1. How can we use cytotalk crosstalk scores and the logfc comb for magnitude and specificity in liana_dotplot() - directly or after some scaling. And liana_wrap() lacks cellphobedb's mean values column, as described in the liana_dotplot() help section.
2. I interpret the expression magnitud

[2022-11-11 06:08] AIBio commented on #68
Thank you ver much. I'll try it (https://saezlab.github.io/liana/articles/liana_devel.html)

[2022-11-11 06:09] #68 closed

[2022-11-11 11:52] dbdimitrov commented on #66
Hi @AltayYuzeir

1. liana_wrap does not lack cellphonedb's columns, they would be available in the cellphonedb element provided by liana_wrap before running liana_aggregate. So, one could easily join those with a left_join on the ligand-receptor-source-target fields.

2. Roughly yes, but more as the how highly expressed the ligand and receptor genes are :)

[2022-11-11 12:00] Smilenone commented on #66
Can I say that the smaller  the aggregate_rank is, the more important the L-R pairs are (since it can be interpreted as p-values)?

[2022-11-11 12:01] AltayYuzeir commented on #66
Yes I see now. And what about the cytototalk crosstalk scores and the logfc combined parameter. Can they be used in the dotplot and how?

[2022-11-11 17:16] dbdimitrov commented on #66
Hi @Smilenone yes :)

[2022-11-11 17:17] dbdimitrov commented on #66
Hi @AltayYuzeir you could plot anything technically, though I'm not sure why logFC and the crosstalk scores.

[2022-11-11 17:17] Smilenone commented on #66
Thanks for your answer~

[2022-11-11 17:24] AltayYuzeir commented on #66
I see, in my analysis I try to give information to the wet lab people on what interactions to concentrate on. So I would like to get a type of consensus between the different specificity and magnitude methods to strengthen my suggestion. Thanks anyway, closing the issue now.

[2022-11-11 17:24] #66 closed

[2022-11-11 17:28] dbdimitrov commented on #66
@AltayYuzeir by default, liana as in the basic tutorial will provide both. For example, the dotplot there I plot magnitude using SingleCellSignalR's LRscore and the aggregate_rank. You could supplement the latter by e.g. natmi's edge weight for specificity or logFC, etc

[2022-11-11 17:29] dbdimitrov commented on #66
I plan to clarify these points in future updates.

[2022-11-14 11:07] AltayYuzeir opened #69 "Integrated Seurat datasets"
Hello. I have a question regarding using LIANA with multiple integrated scRNA datasets, based on this tutorial: https://satijalab.org/seurat/articles/integration_introduction.html. Does the methods implemented in LIANA account for the differences such as sequencing technology or sequencing depth between the different datasets? Upon following the tutorial you get an "integrated" assay, but you need

[2022-11-15 06:35] dbdimitrov commented on #69
Hi @AltayYuzeir, the integrated assay from Seurat is not typically intended to be used /w LIANA. As you will notice also from the tutorial, they switch back to RNA right after integration.

Instead, you should use it solely to identify common cell clusters across your samples, and then use the log-normalized or SCT-normalized counts.

[2022-11-15 07:46] AltayYuzeir commented on #69
I see, thank you.

[2022-11-15 07:46] #69 closed

[2022-11-18 15:11] #42 closed